crates/ism-intdis/data/INTDIS/Schema/INTDIS/IntelDiscipline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen SCHSchema="../../Schematron/ISM/ISM_XML.sch"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ism="urn:us:gov:ic:ism"
	xmlns:intdis="urn:us:gov:ic:intdis" 
	xmlns:intdisd="urn:us:gov:ic:cvenum:intdis:inteldiscipline"
	xmlns:intdisdc="urn:us:gov:ic:cvenum:intdis:inteldiscipline:component" 
	xmlns:intdisdct="urn:us:gov:ic:cvenum:intdis:inteldiscipline:component:technique" 
	xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
	targetNamespace="urn:us:gov:ic:intdis" attributeFormDefault="qualified"
	elementFormDefault="qualified" xml:lang="en" ism:resourceElement="true"
	ism:createDate="2015-03-24" ism:DESVersion="201609" ism:classification="U"
	ism:ownerProducer="USA" version="201707">

	<xs:annotation>
		<xs:documentation>
			<xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical Specification  
				CVE Encoding Specification for Intelligence Disciplines (INTDIS.XML)</xhtml:h1>
		</xs:documentation>

		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       				
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				W3C XML Schema for the XML CVE Encoding Specification 
				for Intelligence Disciplines (INTDIS.XML).  
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				This XML Schema file is one component of the XML CVE Encoding 
				Specification (CES). Please see the document titled 
				<xhtml:i>
					<xhtml:a href="../../Documents/INTDIS/CesIntDisXml.pdf">XML CVE Encoding Specification for Intelligence Disciplines</xhtml:a>
				</xhtml:i> 
				for a complete description of the encoding as well as list
				of all components.  
			</xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				It is envisioned that this schema or its components, as well as other
				parts of the CES may be overridden for localized implementations. 
				Therefore, permission to use, copy, modify and distribute this XML 
				Schema and the other parts of the CES for any purpose is hereby 
				granted in perpetuity.
			</xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				Please reference the preceding two paragraphs in all copies or
				variations. The developers make no representation about the
				suitability of the schema or CES for any purpose. It is provided 
				"as is" without expressed or implied warranty.
			</xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				If you modify this XML Schema in any way label your schema
				as a variant of INTDIS.XML.
			</xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				Please direct all questions, bug reports, or suggestions for changes
				to the points of contact identified in the document referenced above.
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				No implementation notes at this time.
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of National Intelligence
				Intelligence Community Chief Information Officer</xhtml:p>
		</xs:documentation>
	</xs:annotation>

	<!--***************************************************-->
	<xs:import namespace="urn:us:gov:ic:cvenum:intdis:inteldiscipline"
		schemaLocation="CVEGenerated/CVEnumIntelDiscipline.xsd"/>
	<xs:import namespace="urn:us:gov:ic:cvenum:intdis:inteldiscipline:component"
		schemaLocation="CVEGenerated/CVEnumIntelDisciplineComponent.xsd"/>
	<xs:import namespace="urn:us:gov:ic:cvenum:intdis:inteldiscipline:component:technique"
		schemaLocation="CVEGenerated/CVEnumIntelDisciplineComponentTechnique.xsd"/>

	<!--***************************************************-->

	<xs:attribute name="CESVersion">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> The version number of the CES </xhtml:p>
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="201707(\-.{1,23})?"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

	<xs:element name="IntelDiscipline" type="intdisd:CVEnumIntelDiscipline">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An element limited to allowable 
					Intelligence Disciplines. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:attribute name="intelDiscipline" type="intdisd:CVEnumIntelDiscipline">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute limited to allowable 
					Intelligence Disciplines. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	
	<xs:element name="IntelDisciplineComponent" type="intdisdc:CVEnumIntelDisciplineComponent">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An element limited to allowable 
					Intelligence Discipline Components. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:attribute name="intelDisciplineComponent" type="intdisdc:CVEnumIntelDisciplineComponent">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute limited to allowable 
					Intelligence Discipline Components. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:element name="IntelDisciplineComponentTechnique" type="intdisdct:CVEnumIntelDisciplineComponentTechnique">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An element limited to allowable 
					Intelligence Discipline Component Techniques. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:attribute name="intelDisciplineComponentTechnique" type="intdisdct:CVEnumIntelDisciplineComponentTechnique">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute limited to allowable 
					Intelligence Discipline Component Techniques. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:annotation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			<xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				<xhtml:caption>Change History</xhtml:caption>
				<xhtml:thead>
					<xhtml:tr>
						<th>Version</th>
						<th>Date</th>
						<th>By</th>
						<th>Description</th>
					</xhtml:tr>
				</xhtml:thead>
				<xhtml:tbody>
					<xhtml:tr>
						<xhtml:td>2016-SEP</xhtml:td>
						<xhtml:td>2016-02-17</xhtml:td>
						<xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
						<xhtml:td>
							The schema change logs will no longer be maintained as of the 2016-SEP release. 
							The existing change logs will only serve as legacy information. 
							For changes to schema as of and after 2016-SEP, reference the change history in the CES.
						</xhtml:td>
					</xhtml:tr>
					<xhtml:tr>
						<xhtml:td>2015-AUG</xhtml:td>
						<xhtml:td>2015-08-01</xhtml:td>
						<xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
						<xhtml:td>DESVersion regex update</xhtml:td>
					</xhtml:tr>	
					<xhtml:tr>
						<xhtml:td>2015-AUG</xhtml:td>
						<xhtml:td>2015-08-01</xhtml:td>
						<xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
						<xhtml:td>Initial release of this module</xhtml:td>
					</xhtml:tr>		
				</xhtml:tbody>
			</xhtml:table>
		</xs:documentation>
	</xs:annotation>
</xs:schema>
