crates/ism-pm/data/PM/Schema/PM/PM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:pm="urn:us:gov:ic:pm"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           xmlns:pmsubject="urn:us:gov:ic:cvenum:pm:subject"
           xmlns:pmactor="urn:us:gov:ic:cvenum:pm:actor"
           xmlns:pmlocation="urn:us:gov:ic:cvenum:pm:location"
           targetNamespace="urn:us:gov:ic:pm"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           xml:lang="en"
           ism:compliesWith="USGov USIC"
           ism:resourceElement="true"
           ism:createDate="2019-09-18"
           ism:DESVersion="202111"
           ism:ISMCATCESVersion="202205"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="202211">

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community
				Technical Specification CVE Encoding Specification for Production Metrics
				(PM.XML)</xhtml:h1>
		    </xs:documentation>

		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       
			</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema for the CVE
				Encoding Specification for Production Metrics (PM.CES). </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> This XML Schema file is one
				component of the CVE Encoding Specification (CES). Please see the document titled <xhtml:i>
					          <xhtml:a href="../../Documents/PM/CesPMXml.pdf"> CVE Encoding Specification for
						Production Metrics</xhtml:a>
				        </xhtml:i> for a complete description of the encoding as well as list of all
				components. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this
				schema or its components, as well as other parts of the CES may be overridden for
				localized implementations. Therefore, permission to use, copy, modify and distribute
				this XML Schema and the other parts of the CES for any purpose is hereby granted in
				perpetuity. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding
				two paragraphs in all copies or variations. The developers make no representation
				about the suitability of the schema or CES for any purpose. It is provided "as is"
				without expressed or implied warranty. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this XML Schema
				in any way label your schema as a variant of PM.CES. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions,
				bug reports, or suggestions for changes to the points of contact identified in the
				document referenced above. </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
		    	  <xhtml:p ism:ownerProducer="USA" ism:classification="U">PM does not have a root
		    		node. There are one or more peer elements that reference each of its CVE schema
		    		fragments.
		    	</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
				National Intelligence Community Chief Information Officer</xhtml:p>
		    </xs:documentation>
	  </xs:annotation>

	  <!--***************************************************-->
	  <xs:import namespace="urn:us:gov:ic:cvenum:pm:subject"
              schemaLocation="CVEGenerated/CVEnumPMSubject.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:pm:actor"
              schemaLocation="CVEGenerated/CVEnumPMActor.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:pm:location"
              schemaLocation="CVEGenerated/CVEnumPMLocation.xsd"/>
	  <!--***************************************************-->

	  <xs:attribute name="CESVersion">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the
					specification. This attribute is intended for processing systems to determine
					the appropriate versions of Schema, Schematron, and CVE values for validation
					and interpretation of an instance document. </xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">If there are multiple of
					this attribute specified in an instance document, the first one in document
					order is the one that will apply to the entire document. Document order is
					defined in <xhtml:a href="https://www.w3.org/TR/xpath-datamodel/#document-order">https://www.w3.org/TR/xpath-datamodel/#document-order</xhtml:a>
				        </xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:simpleType>
			      <xs:restriction base="xs:string">
				        <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
			      </xs:restriction>
		    </xs:simpleType>
	  </xs:attribute>

	  <!-- Simple Types -->

	  <xs:simpleType name="productionMetricsSubjectType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the production
					metric subject.</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that
					represents a production metric subject. This is tied to the CVEnumPMSubject CVE
					which is managed by the Deputy Director of National Intelligence for
					Intelligence Integration (DDII).</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="pmsubject:CVEnumPMSubject"/>
	  </xs:simpleType>

	  <xs:simpleType name="productionMetricsActorType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the production
					metric actor.</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that
					represents a production metric actor (countries and non-state entities). This
					is tied to the CVEnumPMActor CVE which is managed by the Deputy Director of
					National Intelligence for Intelligence Integration (DDII).</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="pmactor:CVEnumPMActor"/>
	  </xs:simpleType>
	
	  <xs:simpleType name="productionMetricsLocationType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the production metric location.</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that represents 
					a production metric location (countries and orbits). This is tied to the CVEnumPMLocation CVE 
					which is managed by the Deputy Director of National Intelligence for Intelligence Integration (DDII).</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="pmlocation:CVEnumPMLocation"/>
	  </xs:simpleType>

	  <!-- Attributes -->

	  <xs:attribute name="productionMetricsSubject" type="pm:productionMetricsSubjectType"/> 
		<xs:annotation>
			   <xs:documentation xml:lang="en">
				     <xhtml:p ism:ownerProducer="USA" ism:classification="U">The range of permissible values for PM Subjects.</xhtml:p>
			   </xs:documentation>
		</xs:annotation>

	  <xs:attribute name="productionMetricsActor" type="pm:productionMetricsActorType"/>
		<xs:annotation>
			   <xs:documentation xml:lang="en">
				     <xhtml:p ism:ownerProducer="USA" ism:classification="U">This attribute represents the WHO of a Production Metrics Assertion.</xhtml:p>
			   </xs:documentation>
		</xs:annotation>

	  <xs:attribute name="productionMetricsLocation"
                 type="pm:productionMetricsLocationType"/>
		<xs:annotation>
			   <xs:documentation xml:lang="en">
				     <xhtml:p ism:ownerProducer="USA" ism:classification="U">This attribute represents the WHERE of a Production Metrics Assertion.</xhtml:p>
			   </xs:documentation>
		</xs:annotation>
	
	  <!-- Attribute Groups -->
	  <xs:attributeGroup name="ProductionMetricsAttributeGroup">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Collection of standard attributes for an object in PM.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:attribute ref="pm:productionMetricsSubject" use="required"/>
		    <xs:attribute ref="pm:productionMetricsActor" use="required"/>
		    <xs:attribute ref="pm:productionMetricsLocation" use="optional"/>
	  </xs:attributeGroup>

	  <!-- Elements -->
	
	  <xs:element name="ProductionMetricsSubject" type="pm:productionMetricsSubjectType"/>
		<xs:annotation>
			   <xs:documentation xml:lang="en">
				     <xhtml:p ism:ownerProducer="USA" ism:classification="U">The range of permissible values for WHAT of a Production Metrics Assertion.</xhtml:p>
			   </xs:documentation>
		</xs:annotation>
	  <xs:element name="ProductionMetricsActor" type="pm:productionMetricsActorType"/>
		<xs:annotation>
			   <xs:documentation xml:lang="en">
				     <xhtml:p ism:ownerProducer="USA" ism:classification="U">The range of permissible values for WHO of a Production Metrics Assertion.</xhtml:p>
			   </xs:documentation>
		</xs:annotation>
	
	  <xs:element name="ProductionMetricsLocation"
               type="pm:productionMetricsLocationType"/>
		<xs:annotation>
			   <xs:documentation xml:lang="en">
				     <xhtml:p ism:ownerProducer="USA" ism:classification="U">The range of permissible values for WHERE of a Production Metrics Assertion.</xhtml:p>
			   </xs:documentation>
		</xs:annotation>


	  <!-- Element Groups -->

	  <xs:group name="ProductionMetricsElementGroup">
			   <xs:annotation>
				     <xs:documentation xml:lang="en">
					       <xhtml:p ism:ownerProducer="USA" ism:classification="U">Collection of standard elements for an object in PM.</xhtml:p>
				     </xs:documentation>
			   </xs:annotation>
		    <xs:sequence>
			      <xs:element ref="pm:ProductionMetricsSubject"/>
			      <xs:element ref="pm:ProductionMetricsActor"/>
			      <xs:element ref="pm:ProductionMetricsLocation"/>
		    </xs:sequence>
	  </xs:group>

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			      <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				        <xhtml:caption>Change History</xhtml:caption>
				        <xhtml:thead>
					          <xhtml:tr>
						            <th>Version</th>
						            <th>Date</th>
						            <th>By</th>
						            <th>Description</th>
					          </xhtml:tr>
				        </xhtml:thead>
				        <xhtml:tbody>
					          <xhtml:tr>
						            <xhtml:td>2016-SEP</xhtml:td>
						            <xhtml:td>2016-02-17</xhtml:td>
						            <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
						            <xhtml:td> The schema change logs will no longer be maintained as of the
							2016-SEP release. The existing change logs will only serve as legacy
							information. For changes to schema as of and after 2016-SEP, reference
							the change history in the CES. </xhtml:td>
					          </xhtml:tr>
					          <xhtml:tr>
						            <xhtml:td>2015-NOV</xhtml:td>
						            <xhtml:td>12 NOV 2015</xhtml:td>
						            <xhtml:td>ODNI/CIO</xhtml:td>
						            <xhtml:td>Added PM Coverage</xhtml:td>
					          </xhtml:tr>
					          <xhtml:tr>
						            <xhtml:td>2015-AUG</xhtml:td>
						            <xhtml:td>13 Feb 2015</xhtml:td>
						            <xhtml:td>ODNI/CIO</xhtml:td>
						            <xhtml:td>Initial release of this module</xhtml:td>
					          </xhtml:tr>
				        </xhtml:tbody>
			      </xhtml:table>
		    </xs:documentation>
	  </xs:annotation>
</xs:schema>
