crates/ism-ismcat/data/ISMCAT/Schema/ISMCAT/Tetragraph.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:arh="urn:us:gov:ic:arh"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:tetra="urn:us:gov:ic:taxonomy:catt:tetragraph"
           xmlns:tax="urn:us:gov:ic:taxonomy:common"
           xmlns:ismcatrelto="urn:us:gov:ic:cvenum:ismcat:relto"
           xmlns:ismcatre="urn:us:gov:ic:cvenum:ismcat:responsibleentity"
           elementFormDefault="qualified"
           targetNamespace="urn:us:gov:ic:taxonomy:catt:tetragraph"
           ism:compliesWith="USGov USIC"
           ism:resourceElement="true"
           ism:createDate="2019-09-18"
           ism:DESVersion="202111"
           ism:ISMCATCESVersion="202205"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="202211">

   <xs:annotation>
      <xs:documentation>
         <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical
            Specification XML Taxonomy Encoding Specification for Countries and Tetragraphs
            (CATT.TES) SchemaGuide</xhtml:h1>
      </xs:documentation>
      <xs:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
        </xhtml:p>
      </xs:documentation>
      <xs:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema used to facilitate
            generation of the SchemaGuide for the XML Taxonomy Encoding Specification for Countries
            and Tetragraphs (CATT.TES). </xhtml:p>
      </xs:documentation>
      <xs:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U"> This XML Schema file is only used
            to produce the schemaGuide for the XML CVE Encoding Specification (CES). Please see the
            document titled <xhtml:i>
               <xhtml:a href="../../Documents/ISMCAT/CesISMCATXml.pdf">XML CVE Encoding
                  Specification for ISM Country Codes and Tetragraphs</xhtml:a>
            </xhtml:i> for a complete description of the encoding as well as list of all components. </xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this schema
            or its components, as well as other parts of the CES may be overridden for localized
            implementations. Therefore, permission to use, copy, modify and distribute this XML
            Schema and the other parts of the CES for any purpose is hereby granted in perpetuity. </xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding two
            paragraphs in all copies or variations. The developers make no representation about the
            suitability of the schema or TES for any purpose. It is provided "as is" without
            expressed or implied warranty. </xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this XML Schema in
            any way label your schema as a variant of ISMCAT.CES.</xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions, bug
            reports, or suggestions for changes to the points of contact identified in the document
            referenced above. </xhtml:p>
      </xs:documentation>
      <xs:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">An ISMCAT.CES Taxonomy instance is
            an instance starting with the Tetragraphs root element:</xhtml:p>
         <xhtml:ul>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">A <xhtml:a href="Tetragraph_xsd_Element_tetra_Tetragraphs.html#Tetragraphs">Tetragraphs</xhtml:a>
            </xhtml:p>
         </xhtml:ul>
      </xs:documentation>
      <xs:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of National
            Intelligence Intelligence Community Chief Information Officer</xhtml:p>
      </xs:documentation>
   </xs:annotation>

   <xs:import namespace="urn:us:gov:ic:arh" schemaLocation="../ISM/IC-ARH.xsd"/>
   <xs:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd"/>
   <xs:import namespace="urn:us:gov:ic:taxonomy:common"
              schemaLocation="../Taxonomy/Taxonomy.xsd"/>

   <xs:import namespace="urn:us:gov:ic:cvenum:ismcat:relto"
              schemaLocation="../ISMCAT/CVEGenerated/CVEnumISMCATRelTo.xsd"/>
   <xs:import namespace="urn:us:gov:ic:cvenum:ismcat:responsibleentity"
              schemaLocation="../ISMCAT/CVEGenerated/CVEnumISMCATResponsibleEntity.xsd"/>

   <xs:element name="Tetragraphs">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p ism:classification="U" ism:ownerProducer="USA">This element holds the list of
               Tetragraphs and their mappings.</xhtml:p>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="arh:Security"/>
            <xs:element ref="tax:IRM"/>
            <xs:element ref="tetra:Tetragraph" maxOccurs="unbounded" minOccurs="1"/>
         </xs:sequence>
         <xs:attribute ref="tetra:TESVersion" use="required"/>
      </xs:complexType>
   </xs:element>

   <xs:element name="Tetragraph">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p ism:classification="U" ism:ownerProducer="USA">This element group captures the
               countries that are associated with the tetragraph specified.</xhtml:p>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tetra:TetraToken"/>
            <xs:element name="TetraDescription" type="ism:LongStringWithSecurityType">
               <xs:annotation>
                  <xs:documentation>
                     <xhtml:p ism:classification="U" ism:ownerProducer="USA">The act, process, or
                        technique of describing the tetragraph. </xhtml:p>
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Notes" type="ism:LongStringWithSecurityType" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     <xhtml:p ism:classification="U" ism:ownerProducer="USA">A brief record, comment
                        or explanation. </xhtml:p>
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="tetra:Membership"/>
         </xs:sequence>
         <xs:attribute name="decomposable" use="required" type="tetra:DecomposableType">
            <xs:annotation>
               <xs:documentation>
                  <xhtml:p ism:classification="U" ism:ownerProducer="USA">Capable of being resolved
                     into constituent elements. </xhtml:p>
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="deprecated" use="optional" type="xs:date">
            <xs:annotation>
               <xs:documentation>
                  <xhtml:p ism:classification="U" ism:ownerProducer="USA">To mark (a component of a
                     software standard) as obsolete to warn against its use in the future so that it
                     may be phased out. </xhtml:p>
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
      </xs:complexType>
   </xs:element>

   <xs:simpleType name="DecomposableType">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Decomposition is the breaking
               down of a tetragraph into its component countries for the purposes of rollup. An
               example is decomposing FVEY into the five member countries. This decomposition allows
               a portion marked RELEASABLE TO USA, GBR and another portion marked RELEASEABLE TO
               USA, FVEY to rollup to RELEASABLE TO USA, GBR. If FVEY was not decomposable the
               rollup would have to have been NF. NA is "Not Applicable" and is applied to
               deprecated tetragraphs. </xhtml:p>
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Yes"/>
         <xs:enumeration value="No"/>
         <xs:enumeration value="NA"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="TetraToken">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p ism:classification="U" ism:ownerProducer="USA">The Tetragraph token for which
               this grouping relates.</xhtml:p>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="ismcatrelto:CVEnumISMCATRelTo">
               <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="Membership">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p ism:classification="U" ism:ownerProducer="USA">A list of countries that have
               membership in or association with the tetragraph.</xhtml:p>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice>
            <xs:choice maxOccurs="unbounded">
               <xs:element maxOccurs="1" ref="tetra:Country" minOccurs="1"/>
               <xs:element maxOccurs="1" minOccurs="1" ref="tetra:Organization"/>
            </xs:choice>
            <xs:element name="Description" type="ism:LongStringWithSecurityType">
               <xs:annotation>
                  <xs:documentation>
                     <xhtml:p ism:classification="U" ism:ownerProducer="USA">The act, process, or
                        technique of describing. </xhtml:p>
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="MembershipSupressed" minOccurs="1" maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>
                     <xhtml:p ism:classification="U" ism:ownerProducer="USA">A tetragraph whose
                        membership cannot be separated into its constituent countries for the
                        purposes of rolling up portion markings into an overall classification
                        banner for a document or data file.</xhtml:p>
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:attribute name="dateLastVerified" use="required" type="xs:date">
            <xs:annotation>
               <xs:documentation>
                  <xhtml:p ism:classification="U" ism:ownerProducer="USA">The date the tetragraph's
                     membership was last checked against the authoritative source. </xhtml:p>
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Country" type="ismcatre:CVEnumISMCATResponsibleEntity">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p ism:classification="U" ism:ownerProducer="USA">The country code of a member of
               the tetragraph. </xhtml:p>
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Organization" type="ismcatrelto:CVEnumISMCATRelTo">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p ism:classification="U" ism:ownerProducer="USA">The code for an organization
               that is a member of the tetragraph. </xhtml:p>
         </xs:documentation>
      </xs:annotation>
   </xs:element>


   <xs:attribute name="TESVersion">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the
               specification. This attribute is intended for processing systems to determine the
               appropriate versions of Schema, Schematron, and CVE values for validation and
               interpretation of an instance document. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">If there are multiple of this
               attribute specified in an instance document, the first one in document order is the
               one that will apply to the entire document. Document order is defined in <xhtml:a href="https://www.w3.org/TR/xpath-datamodel/#document-order">https://www.w3.org/TR/xpath-datamodel/#document-order</xhtml:a>
            </xhtml:p>
         </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:attribute>

</xs:schema>
