crates/ism-fac/data/FAC/Schema/FAC/FineAccessControl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:fac="urn:us:gov:ic:fineaccesscontrol"
           xmlns:factype="urn:us:gov:ic:cvenum:fac:fineaccesscontroltype"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           targetNamespace="urn:us:gov:ic:fineaccesscontrol"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           xml:lang="en"
           ism:resourceElement="true"
           ism:createDate="2013-11-22"
           ism:DESVersion="202111"
           ism:ISMCATCESVersion="202205"
           ism:compliesWith="USGov USIC"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="202211">

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community
				Technical Specification CVE Encoding Specification for Fine Access Controls
				(FAC.CES)</xhtml:h1>
		    </xs:documentation>

		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       
			</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema for the CVE
				Encoding Specification for Fine Access Control (FAC.CES). </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> This Schema file is one
				component of the CVE Encoding Specification (CES). Please see the document
				titled <xhtml:i>
					          <xhtml:a href="../../Documents/FAC/CesFacXml.pdf">CVE Encoding Specification
						for Fine Access Control</xhtml:a>
				        </xhtml:i> for a complete description of the encoding as well as list of all
				components. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this
				schema or its components, as well as other parts of the CES may be overridden for
				localized implementations. Therefore, permission to use, copy, modify and distribute
				this Schema and the other parts of the CES for any purpose is hereby granted in
				perpetuity. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding
				two paragraphs in all copies or variations. The developers make no representation
				about the suitability of the schema or CES for any purpose. It is provided "as is"
				without expressed or implied warranty. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this Schema
				in any way label your schema as a variant of FAC.CES. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions,
				bug reports,or suggestions for changes to the points of contact identified in the
				document referenced above. </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
		    	  <xhtml:p ism:ownerProducer="USA" ism:classification="U">FAC does not have a root
		    		node. There are one or more peer elements that reference each of its CVE schema
		    		fragments.
			      </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
				National Intelligence Intelligence Community Chief Information Officer</xhtml:p>
		    </xs:documentation>
	  </xs:annotation>

	  <!--***************************************************-->
	  <xs:import namespace="urn:us:gov:ic:cvenum:fac:fineaccesscontroltype"
              schemaLocation="./CVEGenerated/CVEnumFineAccessControlType.xsd"/>

	  <!--***************************************************-->

	  <xs:attribute name="CESVersion">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the specification. 
					This attribute is intended for processing systems to determine the appropriate versions of 
					Schema, Schematron, and CVE values for validation and interpretation of an instance document. 
				</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">If there are multiple of this attribute 
					specified in an instance document, the first one in document order is the one that will 
					apply to the entire document. Document order is 
					defined in <xhtml:a href="https://www.w3.org/TR/xpath-datamodel/#document-order">https://www.w3.org/TR/xpath-datamodel/#document-order</xhtml:a>
				        </xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:simpleType>
			      <xs:restriction base="xs:string">
				        <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
			      </xs:restriction>
		    </xs:simpleType>
	  </xs:attribute>

	  <xs:element name="Fac" type="factype:CVEnumFineAccessControlType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U"> An element limited to
					allowable Fine Access Controls. </xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:element>

	  <xs:attribute name="fac" type="factype:CVEnumFineAccessControlType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute limited to
					allowable Fine Access Controls. </xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:attribute>

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			      <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				        <xhtml:caption>Change History</xhtml:caption>
				        <xhtml:thead>
					          <xhtml:tr>
						            <th>Version</th>
						            <th>Date</th>
						            <th>By</th>
						            <th>Description</th>
					          </xhtml:tr>
				        </xhtml:thead>
				        <xhtml:tbody>
					          <xhtml:tr>
						            <xhtml:td>2018-APR</xhtml:td>
						            <xhtml:td>2017-10-23</xhtml:td>
						            <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
						            <xhtml:td>
							              <xhtml:ul>
								                <xhtml:li ism:ownerProducer="USA" ism:classification="U"> The schema
									change logs will no longer be maintained as of the 2018-APR
									release. The existing change logs will only serve as legacy
									information. For changes to schema as of and after 2018-APR,
									reference the change history in the DES.</xhtml:li>
							              </xhtml:ul>
						            </xhtml:td>
					          </xhtml:tr>
					          <xhtml:tr>
						            <xhtml:td>2014-DEC</xhtml:td>
						            <xhtml:td>2014-12-04</xhtml:td>
						            <xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
						            <xhtml:td>
							              <xhtml:ul>
								                <xhtml:li ism:ownerProducer="USA" ism:classification="U"> Enforced
									DESVersion with a pattern instead of a fixed value to allow
									extension versions</xhtml:li>
							              </xhtml:ul>
						            </xhtml:td>
					          </xhtml:tr>
					          <xhtml:tr>
						            <xhtml:td>2014-DEC</xhtml:td>
						            <xhtml:td>2014-12-4</xhtml:td>
						            <xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
						            <xhtml:td>
							              <xhtml:ul>
								                <xhtml:li ism:ownerProducer="USA" ism:classification="U"> Remove
									REGEX representation for CESVersion</xhtml:li>
							              </xhtml:ul>
						            </xhtml:td>
					          </xhtml:tr>
					          <xhtml:tr>
						            <xhtml:td>1</xhtml:td>
						            <xhtml:td>2013-11-22</xhtml:td>
						            <xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
						            <xhtml:td>
							              <xhtml:ul>
								                <xhtml:li ism:ownerProducer="USA" ism:classification="U"> Initial
									release of this module</xhtml:li>
							              </xhtml:ul>
						            </xhtml:td>
					          </xhtml:tr>
				        </xhtml:tbody>
			      </xhtml:table>
		    </xs:documentation>
	  </xs:annotation>
</xs:schema>
