crates/ism-rr-sm/data/RR-SM/Schema/RR-SM/IC-RR-SM-REST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen SCHSchema="../../Schematron/ISM/ISM_XML.sch"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:ism="urn:us:gov:ic:ism"
            xmlns:arh="urn:us:gov:ic:arh"
            xmlns:ntk="urn:us:gov:ic:ntk"
            xmlns="urn:us:gov:ic:rr"
            xmlns:xhtml="http://www.w3.org/1999/xhtml"
            targetNamespace="urn:us:gov:ic:rr"
            elementFormDefault="qualified"
            xml:lang="en"
            ism:DESVersion="10"
            ism:resourceElement="true"
            ism:createDate="2011-09-19"
            ism:classification="U"
            ism:ownerProducer="USA"
            version="2">
   <xsd:annotation>
        <xsd:documentation>
            <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical Specification  
                REST Service Encoding Specification for Security Markings</xhtml:h1>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       				
            </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                W3C XML Schema for the providing security markings  in the 
                REST Service Encoding Specification for Security Markings.				
            </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                This XML Schema file is one component of the REST Service
                Encoding Specification. Please see the document titled
                <xhtml:i>
               <xhtml:a href="../../Documents/RR-SM/SesRr-smRest.pdf">REST Service Encoding Specification for Security Markings</xhtml:a>
            </xhtml:i>	 
                for a complete description of the encoding as well as list
                of all components.  
            </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                If you modify this XML Schema in any way label your schema
                as a variant of IC-SecurityMarkings.XML. 
            </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                Please direct all questions, bug reports,or suggestions for changes
                to the points of contact identified in the document referenced above.
            </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of National Intelligence
                Intelligence Community Chief Information Officer</xhtml:p>
        </xsd:documentation>
    </xsd:annotation>
   <!--***************************************************-->
   <!--Start Import Statements-->
   <!--***************************************************-->
    <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../w3/1999/xlink/xlink.xsd"/>
    <xsd:import namespace="urn:us:gov:ic:arh" schemaLocation="../ARH/IC-ARH.xsd">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">Import IC Access Rights and Handling (ARH) attributes</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>
    <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../w3/1999/xlink/xlink.xsd"/>
    <xsd:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">Import IC Information Security Markings (ISM) attributes</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>
   <!--***************************************************-->
   <!--End Import Statements-->
   <!--***************************************************-->
   <!--***************************************************-->
   <!--Start All case-insensitive alphabetically-->
   <!--***************************************************-->
   
   <xsd:element name="Portion">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                Contains the security metadata for any portion of the message.
                The element contains IC ISM attributes for the portion, and a reference
                to the portion that is being tagged.  The xlink:href attribute is used
                to reference the portion being tagged.
            </xhtml:p>
         </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attributeGroup ref="ism:SecurityAttributesGroup"/>				
            <xsd:attributeGroup ref="xlink:simpleAttrs"/>				
        </xsd:complexType>
    </xsd:element>
   
    <xsd:attribute name="DESVersion" type="ism:ShortStringType" fixed="2">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U"> The version number of the DES </xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
   
   <xsd:element name="SecurityMarkings">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                Root node of the schema and contains all the mandatory and optional
                security metadata needed to mark a Request/Response message.
            </xhtml:p>
         </xsd:documentation>
        </xsd:annotation>
       <xsd:complexType>
           <xsd:sequence>
               <xsd:element ref="arh:Security" minOccurs="1" maxOccurs="1"/>
               <xsd:element ref="Portion" minOccurs="1" maxOccurs="unbounded"/>
           </xsd:sequence>
       </xsd:complexType>
   </xsd:element>
    
    
   <!--***************************************************-->
   <!--End All case-insensitive alphabetically-->
   <!--***************************************************-->
   <xsd:annotation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
            <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
                <xhtml:caption>Change History</xhtml:caption>
                <xhtml:thead>
                    <xhtml:tr>
                        <th xmlns="">Version</th>
                        <xhtml:td>Date</xhtml:td>
                        <xhtml:td>By</xhtml:td>
                        <xhtml:td>Description</xhtml:td>
                    </xhtml:tr>
                </xhtml:thead>
                <xhtml:tbody>
                    <xhtml:tr>
                        <xhtml:td>2</xhtml:td>
                        <xhtml:td>2012-11-09</xhtml:td>
                        <xhtml:td>Hodges, ODNI/OCIO/ICEA</xhtml:td>
                        <xhtml:td>Replaced security and notices with ARH</xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>1</xhtml:td>
                        <xhtml:td>2011-09-17</xhtml:td>
                        <xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
                        <xhtml:td>Initial release</xhtml:td>
                    </xhtml:tr>
                </xhtml:tbody>
            </xhtml:table>
        </xsd:documentation>
    </xsd:annotation>
</xsd:schema>