data/ROLE/Schema/ROLE/ROLE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ism="urn:us:gov:ic:ism"
            xmlns:role="urn:us:gov:ic:role"
            xmlns:roletype="urn:us:gov:ic:cvenum:role:enterprise:role"
            xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
            targetNamespace="urn:us:gov:ic:role"
            attributeFormDefault="qualified"
            elementFormDefault="qualified"
            xml:lang="en"
            ism:compliesWith="USGov USIC"
            ism:resourceElement="true"
            ism:createDate="2020-08-29"
            ism:DESVersion="202111"
            ism:ISMCATCESVersion="202205"
            ism:classification="U"
            ism:ownerProducer="USA"
            version="202111">
    
    <xsd:annotation>
        <xsd:documentation>
            <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community
                Technical Specification CVE Encoding Specification for Role
                (ROLE.CES)</xhtml:h1>
        </xsd:documentation>
        
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       
            </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema for the CVE
                Encoding Specification for ROLE (ROLE.CES). </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> This XML Schema file is one
                component of the CVE Encoding Specification (CES). Please see the document titled <xhtml:i>
                    <xhtml:a href="../../Documents/ROLE/CesRoleXml.pdf"> CVE Encoding Specification for
                        Role</xhtml:a>
                </xhtml:i> for a complete description of the encoding as well as list of all
                components. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this
                schema or its components, as well as other parts of the CES may be overridden for
                localized implementations. Therefore, permission to use, copy, modify and distribute
                this XML Schema and the other parts of the CES for any purpose is hereby granted in
                perpetuity. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding
                two paragraphs in all copies or variations. The developers make no representation
                about the suitability of the schema or CES for any purpose. It is provided "as is"
                without expressed or implied warranty. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this XML Schema
                in any way label your schema as a variant of ROLE.CES. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions,
                bug reports, or suggestions for changes to the points of contact identified in the
                document referenced above. </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">The root element for ROLE is 
                <xhtml:a href="ROLE_xsd_Element_role_Role.html#Role">role:Role</xhtml:a>.
            </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
                National Intelligence Community Chief Information Officer</xhtml:p>
        </xsd:documentation>
    </xsd:annotation>
    
    <xsd:attribute name="CESVersion">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the
                    specification. This attribute is intended for processing systems to determine
                    the appropriate versions of Schema, Schematron, and CVE values for validation
                    and interpretation of an instance document. </xhtml:p>
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">If there are multiple of
                    this attribute specified in an instance document, the first one in document
                    order is the one that will apply to the entire document. Document order is
                    defined in <xhtml:a href="https://www.w3.org/TR/xpath-datamodel/#document-order">https://www.w3.org/TR/xpath-datamodel/#document-order</xhtml:a>
                </xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
    
    <xsd:element name="Role" type="role:roleType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U"> An element limited to allowable 
                    roles. </xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:attribute name="role" type="role:roleType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute limited to allowable 
                    roles. </xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    
    <xsd:simpleType name="roleType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the position, job
                    or area of responsibility associated with the entity</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:list itemType="role:roleItemType"/>
            </xsd:simpleType>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="500"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="roleItemType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA">Union of the allowed Role
                    types</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="role:roleC2SItemType role:roleNebulaItemType role:rolePAASItemType role:roleEnterpriseItemType"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="roleEnterpriseItemType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the Enterprise Role
                    associated with the entity</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:pattern value="ENT\-[A-Za-z0-9_]{1,255}(\-[A-Za-z0-9_]{1,255})"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="roleNebulaItemType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the Nebula Role
                    associated with the entity</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:pattern value="Nebula-CIA\-[A-Za-z0-9_]{1,255}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="rolePAASItemType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the PAAS position,
                    job or area of responsibility associated with the entity</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:pattern value="PAAS\-[A-Z0-9_.]{1,255}(\-[A-Za-z0-9_]{1,255}){2}\-[A-Z0-9_]{1,64}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="roleC2SItemType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the C2S position,
                    job or area of responsibility associated with the entity</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:pattern value="C2S\-[A-Z0-9_.]{1,255}(\-[A-Za-z0-9_]{1,255}){2}\-[A-Z0-9_]{1,64}"/>
        </xsd:restriction>
    </xsd:simpleType>
   
    <xsd:annotation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
            <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
                <xhtml:caption>Change History</xhtml:caption>
                <xhtml:thead>
                    <xhtml:tr>
                        <th>Version</th>
                        <th>Date</th>
                        <th>By</th>
                        <th>Description</th>
                    </xhtml:tr>
                </xhtml:thead>
                <xhtml:tbody>
                    <xhtml:tr>
                        <xhtml:td>2021-NOV</xhtml:td>
                        <xhtml:td>2020-08-29</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>For changes to schema, reference
                            the change history in the CES. </xhtml:td>
                    </xhtml:tr>
                </xhtml:tbody>
            </xhtml:table>
        </xsd:documentation>
    </xsd:annotation>
</xsd:schema>
