data/CDSM/Schema/CDSM/CDSM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:us:gov:ic:cdsmanifest"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           xmlns:cdsm="urn:us:gov:ic:cdsmanifest"
           xmlns:tdf="urn:us:gov:ic:tdf"
           targetNamespace="urn:us:gov:ic:cdsmanifest"
           elementFormDefault="qualified"
           attributeFormDefault="qualified"
           ism:compliesWith="USGov USIC"
           ism:DESVersion="202111"
           ism:ISMCATCESVersion="202205"
           ism:createDate="2019-09-18"
           ism:resourceElement="true"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="202111">
           <xs:annotation>
                      <xs:documentation>
                                 <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical Specification XML Data
                                            Encoding Specification for Cross Domain System Manifest Assertion
                                            (CDSM.XML)</xhtml:h1>
                      </xs:documentation>
                      <xs:documentation>
                                 <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       </xhtml:p>
                      </xs:documentation>
                      <xs:documentation>
                                 <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">W3C XML
                                            Schema for the XML Data Encoding Specification for Cross Domain System Manifest Assertion
                                            (CDSM.XML).</xhtml:p>
                      </xs:documentation>
                      <xs:documentation>
                                 <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">This XML
                                            Schema file is one component of the XML Data Encoding
                                            Specification (DES). Please see the document titled<xhtml:i>
                                                  <xhtml:a href="../../Documents/CDSM/DesCdsmXml.pdf">XML 
                                                             Data Encoding Specification for Cross Domain System Manifest Assertion</xhtml:a>
                                            </xhtml:i>for a complete description of the encoding as
                                            well as list of all components.</xhtml:p>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">It is
                                            envisioned that this schema or its components, as well
                                            as other parts of the DES may be overridden for
                                            localized implementations. Therefore, permission to use,
                                            copy, modify and distribute this XML Schema and the
                                            other parts of the DES for any purpose is hereby granted
                                            in perpetuity.</xhtml:p>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please
                                            reference the preceding two paragraphs in all copies or
                                            variations. The developers make no representation about
                                            the suitability of the schema or DES for any purpose. It
                                            is provided "as is" without expressed or implied
                                            warranty.</xhtml:p>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">If you
                                            modify this XML Schema in any way label your schema as a
                                            variant of CDSM.XML.</xhtml:p>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please
                                            direct all questions, bug reports,or suggestions for
                                            changes to the points of contact identified in the
                                            document referenced above.</xhtml:p>
                      </xs:documentation>
                      <xs:documentation>
                                 <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">A CDSM.XML instance is an
                                            instance of a CDSM-TDO or a TDO with particular payload and assertions. Its structure is similar
                                            to:</xhtml:p>
                                 <xhtml:ul>
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">A <xhtml:a href="CDSM-TDF_xsd_Element_TrustedDataObject.html#TrustedDataObject">
                                                       CDSM-TDF tdf:TrustedDataObject</xhtml:a> and has the following assertion:
                                            </xhtml:p>
                                            <xhtml:ul>
                                                       <xhtml:li ism:ownerProducer="USA" ism:classification="U">
                                                                  <xhtml:a href="CDSM_xsd_Element_CdsManifestAssertion.html#CdsManifestAssertion">cdsm:CdsManifestAssertion</xhtml:a>
                                                       </xhtml:li>
                                            </xhtml:ul>
                                 </xhtml:ul>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">The root element for Cross Domain System Manifest Assertion
                                            is <xhtml:a href="CDSM_xsd_Element_CdsManifestAssertion.html#CdsManifestAssertion">cdsm:CdsManifestAssertion</xhtml:a>
                                            and is implemented as a TDF assertion.
                                 </xhtml:p>
                      </xs:documentation>
                      <xs:documentation>
                                 <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of
                                            the Director of National Intelligence Intelligence
                                            Community Chief Information Officer</xhtml:p>
                      </xs:documentation>
           </xs:annotation>
           
           <!--***************************************************-->
           <!-- Start Elements                                    -->
           <!--***************************************************-->
           
           <!-- Root Element -->
           <xs:element name="CdsManifestAssertion" type="cdsm:CdsAssertionType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">The root node of a CDS Manifest assertion for cross domain transfer.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="Originator" type="cdsm:OriginatorType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a software vendor.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="Product" type="cdsm:ProductType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a software product.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="PayloadVersion" type="cdsm:PayloadVersionType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a software version.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="CPE" type="cdsm:CPEType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a software common platform enumeration (CPE).</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="Arch" type="cdsm:ArchType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a software architecture.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="Routing" type="MediumStringType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents routing info.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="WorkFlowid" type="MediumStringType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents work flow id.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="Userkey" type="MediumStringType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents user key.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="VendorChecksum" type="cdsm:VendorChecksumType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a software vendor checksum.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="VirusScanList" type="cdsm:VirusScanListType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a list of virus scans.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="VirusScan" type="cdsm:VirusScanType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a software virus scan.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="MD5" type="cdsm:MD5Type">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a vendor md5 checksum.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="SHA256" type="cdsm:SHA256Type">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a vendor sha256 checksum.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="SHA512" type="cdsm:SHA512Type">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a vendor sha512 checksum.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="ScanVendor" type="cdsm:ScanVendorType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a virus scan vendor.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="ScanVersion" type="cdsm:ScanVersionType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a virus scan version.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="SignatureDate" type="cdsm:SignatureDateType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a signature date.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <xs:element name="ScanResult" type="cdsm:ScanResultType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a virus scan result.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:element>
           
           <!--***************************************************-->
           <!-- End Elements                                      -->
           <!--***************************************************-->

           <!--***************************************************-->
           <!-- Start Attributes                                  -->
           <!--***************************************************-->  
           
           <xs:attribute name="DESVersion" type="cdsm:DESVersionType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the DES</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
           </xs:attribute>

           <!--***************************************************-->
           <!--End Attributes                                     -->
           <!--***************************************************-->
           
           <!--***************************************************-->
           <!--Start Type Definitions                             -->
           <!--***************************************************-->
           
           <xs:complexType name="CdsAssertionType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">The root node of a CDS Manifest assertion for cross domain transfer.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:all>
                                 <!-- required -->
                                 <xs:element ref="cdsm:Originator" minOccurs="1" maxOccurs="1"/>
                                 <xs:element ref="cdsm:Product" minOccurs="1" maxOccurs="1"/>
                                 <xs:element ref="cdsm:PayloadVersion" minOccurs="1" maxOccurs="1"/>
                                 <xs:element ref="cdsm:Arch" minOccurs="1" maxOccurs="1"/>
                                 <xs:element ref="cdsm:VirusScanList" minOccurs="1" maxOccurs="1"/>
                                 
                                 <!-- optional -->
                                 <xs:element ref="cdsm:CPE" minOccurs="0" maxOccurs="1"/>
                                 <xs:element ref="cdsm:Routing" minOccurs="0" maxOccurs="1"/>
                                 <xs:element ref="cdsm:WorkFlowid" minOccurs="0" maxOccurs="1"/>
                                 <xs:element ref="cdsm:Userkey" minOccurs="0" maxOccurs="1"/>
                                 <xs:element ref="cdsm:VendorChecksum" minOccurs="0" maxOccurs="1"/>
                      </xs:all>
                      <xs:attribute ref="cdsm:DESVersion" use="required"/>
           </xs:complexType>
           
           <xs:complexType name="VirusScanListType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a list of virus scans.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:sequence>
                                 <xs:element ref="cdsm:VirusScan" minOccurs="1" maxOccurs="10"/>
                      </xs:sequence>     
           </xs:complexType>
           
           <xs:simpleType name="MediumStringType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for a medium string, less than or equal to 1024 characters, for CDSM attributes.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="1"/>
                                 <xs:maxLength value="1024"/>
                                 <xs:pattern value="([a-zA-Z0-9\s_-])*"/>
                      </xs:restriction>   
           </xs:simpleType>
           
           <xs:complexType name="VendorChecksumType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing a software vendor checksum.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:sequence>
                                 <xs:element ref="cdsm:MD5" minOccurs="0" maxOccurs="1"/>
                                 <xs:element ref="cdsm:SHA256" minOccurs="1" maxOccurs="1"/>
                                 <xs:element ref="cdsm:SHA512" minOccurs="0" maxOccurs="1"/>
                      </xs:sequence>
           </xs:complexType>
           
           <xs:complexType name="VirusScanType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing software virus scan details.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:sequence>
                                 <xs:element ref="cdsm:ScanVendor" minOccurs="1" maxOccurs="1"/>
                                 <xs:element ref="cdsm:ScanVersion" minOccurs="1" maxOccurs="1"/>     
                                 <xs:element ref="cdsm:SignatureDate" minOccurs="1" maxOccurs="1"/>
                                 <xs:element ref="cdsm:ScanResult" minOccurs="1" maxOccurs="1"/>
                      </xs:sequence>
           </xs:complexType>
           
           <xs:simpleType name="OriginatorType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list for expressing software vendors.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="1"/>
                                 <xs:maxLength value="50"/>
                                 <xs:pattern value="([a-zA-Z0-9\s_-])*"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="ProductType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list for expressing a software products.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="1"/>
                                 <xs:maxLength value="256"/>
                                 <xs:pattern value="([a-zA-Z0-9\s_-])*"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="PayloadVersionType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing a software versions.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="1"/>
                                 <xs:maxLength value="30"/>
                                 <xs:pattern value="([a-zA-Z0-9\.-])*"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="CPEType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                                                       The regular expressions OR'ed together in this
                                                       type were copied verbatim from the cpe22Type and
                                                       cpe23Type definitions in
                                                       <xhtml:a xhtml:href="https://csrc.nist.gov/schema/cpe/2.3/cpe-naming_2.3.xsd">
                                                                  the official CPE schema
                                                       </xhtml:a>
                                                       . The length restriction is added to constrain
                                                       the values to a reasonable length for cross-domain
                                                       use.
                                            </xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:anyURI">
                                 <xs:minLength value="1"/>
                                 <xs:maxLength value="1024"/>
                                 <xs:pattern value="([c][pP][eE]:/[AHOaho]?(:[A-Za-z0-9\._\-~%]*){0,6})|(cpe:2\.3:[aho\*\-](:(((\?*|\*?)([a-zA-Z0-9\-\._]|(\\[\\\*\?!&#34;#$$%&amp;'\(\)\+,/:;&lt;=&gt;@\[\]\^`\{\|}~]))+(\?*|\*?))|[\*\-])){5}(:(([a-zA-Z]{2,3}(-([a-zA-Z]{2}|[0-9]{3}))?)|[\*\-]))(:(((\?*|\*?)([a-zA-Z0-9\-\._]|(\\[\\\*\?!&#34;#$$%&amp;'\(\)\+,/:;&lt;=&gt;@\[\]\^`\{\|}~]))+(\?*|\*?))|[\*\-])){4})"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="ArchType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing a software architectures.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:enumeration value="i386"/>
                                 <xs:enumeration value="i486"/>
                                 <xs:enumeration value="i586"/>
                                 <xs:enumeration value="i686"/>
                                 <xs:enumeration value="x86_64"/>
                                 <xs:enumeration value="amd64"/>
                                 <xs:enumeration value="ia64"/>
                                 <xs:enumeration value="armv6l"/>
                                 <xs:enumeration value="armv7l"/>
                                 <xs:enumeration value="sparc"/>
                                 <xs:enumeration value="sparc64"/>
                                 <xs:enumeration value="sparc64v"/>
                                 <xs:enumeration value="ppc"/>
                                 <xs:enumeration value="ppc64"/>
                                 <xs:enumeration value="ppc64le"/>
                                 <xs:enumeration value="s390"/>
                                 <xs:enumeration value="s390x"/>
                                 <xs:enumeration value="64-bit"/>
                                 <xs:enumeration value="32-bit"/>
                                 <xs:enumeration value="none"/>
                                 <xs:enumeration value="noarch"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="MD5Type">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing vendor md5 checksums.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="32"/>
                                 <xs:maxLength value="32"/>
                                 <xs:pattern value="([a-fA-F0-9])*"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="SHA256Type">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing vendor sha256 checksums.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="64"/>
                                 <xs:maxLength value="64"/>
                                 <xs:pattern value="([a-fA-F0-9])*"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="SHA512Type">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing vendor sha512 checksums.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="128"/>
                                 <xs:maxLength value="128"/>
                                 <xs:pattern value="([a-fA-F0-9])*"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="ScanVendorType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing virus scan vendors.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="3"/>
                                 <xs:maxLength value="20"/>
                                 <xs:pattern value="([a-zA-Z0-9\s_-])*"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="ScanVersionType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing virus scan versions.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:minLength value="1"/>
                                 <xs:maxLength value="20"/>
                                 <xs:pattern value="([a-zA-Z0-9\.-])*"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <xs:simpleType name="SignatureDateType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing signature dates.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:dateTime"/>
           </xs:simpleType>
           
           <xs:simpleType name="ScanResultType">
                      <xs:annotation>
                                 <xs:documentation xml:lang="en">
                                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing virus scan results.</xhtml:p>
                                 </xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                                 <xs:pattern value="pass|clean|Pass|Clean"/>
                      </xs:restriction>
           </xs:simpleType>
           <xs:annotation>
                      <xs:documentation xml:lang="en">
                                 <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for expressing version number of the DES.</xhtml:p>
                      </xs:documentation>
           </xs:annotation>
           <xs:simpleType name="DESVersionType">
                      
                      <xs:restriction base="xs:string">
                                 <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
                      </xs:restriction>
           </xs:simpleType>
           
           <!--***************************************************-->
           <!--End Type Definitions                               -->
           <!--***************************************************-->
           
           <xs:annotation>
                      <xs:documentation>
                                 <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
                                 <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
                                            <xhtml:caption>Change History</xhtml:caption>
                                            <xhtml:thead>
                                                       <xhtml:tr>
                                                                  <xhtml:th>Version</xhtml:th>
                                                                  <xhtml:th>Date</xhtml:th>
                                                                  <xhtml:th>By</xhtml:th>
                                                                  <xhtml:th>Description</xhtml:th>
                                                       </xhtml:tr>
                                            </xhtml:thead>
                                            <xhtml:tbody>
                                                       <xhtml:tr>
                                                                  <xhtml:td>2021-JAN</xhtml:td>
                                                                  <xhtml:td>2020-12-01</xhtml:td>
                                                                  <xhtml:td>ODNI/CIO/IAD</xhtml:td>
                                                                  <xhtml:td>Initial creation, reference the change history in the DES.</xhtml:td>
                                                       </xhtml:tr>
                                            </xhtml:tbody>
                                 </xhtml:table>
                      </xs:documentation>
           </xs:annotation>
</xs:schema>
