data/PMA/Schema/PMA/PMA-XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pma="urn:us:gov:ic:pma"
            xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
            xmlns:ism="urn:us:gov:ic:ism"
            xmlns:pm="urn:us:gov:ic:pm"
            targetNamespace="urn:us:gov:ic:pma"
            ism:compliesWith="USGov USIC"
            ism:resourceElement="true"
            ism:createDate="2019-09-18"
            ism:DESVersion="202111"
            ism:ISMCATCESVersion="202205"
            ism:classification="U"
            ism:ownerProducer="USA"
            version="201903.201909"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
	  <xsd:annotation>
		    <xsd:documentation>
			      <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical
				Specification XML Data Encoding Specification for Production Metrics Assertion
				(PMA.XML)</xhtml:h1>
		    </xsd:documentation>
		    <xsd:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       </xhtml:p>
		    </xsd:documentation>
		    <xsd:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">W3C XML Schema for the XML Data
				Encoding Specification for Production Metrics Assertion (PMA.XML).</xhtml:p>
		    </xsd:documentation>
		    <xsd:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">This XML Schema file is one component
				of the XML Data Encoding Specification (DES). Please see the document titled <xhtml:i>
					          <xhtml:a href="../../Documents/PMA/DesPMAXml.pdf">XML Data Encoding Specification for Production 
						Metrics Assertion</xhtml:a>
				        </xhtml:i> for a complete description of the encoding as well as list of all
				components.</xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">It is envisioned that this schema or
				its components, as well as other parts of the DES may be overridden for localized
				implementations. Therefore, permission to use, copy, modify and distribute this XML Schema
				and the other parts of the DES for any purpose is hereby granted in perpetuity.</xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please reference the preceding two
				paragraphs in all copies or variations. The developers make no representation about the
				suitability of the schema or DES for any purpose. It is provided "as is" without expressed
				or implied warranty.</xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">If you modify this XML Schema in any
				way label your schema as a variant of PMA.XML.</xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please direct all questions, bug
				reports, or suggestions for changes to the points of contact identified in the document
				referenced above.</xhtml:p>
		    </xsd:documentation>
		    <xsd:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">The root element for a production metrics assertion
				is <xhtml:a href="PMA-XML_xsd_Element_pma_ProductionMetricsAssertion.html#ProductionMetricsAssertion">pma:ProductionMetricsAssertion</xhtml:a> and is implemented as a TDF
				assertion.</xhtml:p>
		    </xsd:documentation>
		    <xsd:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of National
				Intelligence Community Chief Information Officer</xhtml:p>
		    </xsd:documentation>
	  </xsd:annotation>

	  <!--***************************************************-->
	  <!--Start Import Statements                            -->
	  <!--***************************************************-->

	  <xsd:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd"/>
	  <xsd:import namespace="urn:us:gov:ic:pm" schemaLocation="../PM/PM.xsd"/>

	  <!--***************************************************-->
	  <!--End Import Statements                              -->
	  <!--***************************************************-->

	  <!--***************************************************-->
	  <!-- Start Elements                                    -->
	  <!--***************************************************-->

	  <!-- Root Element -->
	  <xsd:element name="ProductionMetricsAssertion"
                type="pma:ProductionMetricsAssertionType">
		    <xsd:annotation>
			      <xsd:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">The root node of production
					metrics assertion.</xhtml:p>
			      </xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>

	  <xsd:element name="ProductionMetric" type="pma:ProductionMetricType">
		    <xsd:annotation>
			      <xsd:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">This element represents a production metric
					triple.</xhtml:p>
			      </xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>

	  <xsd:attribute name="actor" type="pm:productionMetricsActorType">
		    <xsd:annotation>
			      <xsd:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">This attribute represents the who of a
					Production Metrics Assertion.</xhtml:p>
			      </xsd:documentation>
		    </xsd:annotation>
	  </xsd:attribute>

	  <xsd:attribute name="subject" type="pm:productionMetricsSubjectType">
		    <xsd:annotation>
			      <xsd:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">This attribute represents the what was done of a
					Production Metrics Assertion.</xhtml:p>
			      </xsd:documentation>
		    </xsd:annotation>
	  </xsd:attribute>

	  <xsd:attribute name="location" type="pm:productionMetricsLocationType">
		    <xsd:annotation>
			      <xsd:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">This attribute represents the where of a
					Production Metrics Assertion.</xhtml:p>
			      </xsd:documentation>
		    </xsd:annotation>
	  </xsd:attribute>

	  <!--***************************************************-->
	  <!-- Start Attributes                                  -->
	  <!--***************************************************-->
	  <xsd:attribute name="DESVersion" type="pma:DESVersionType">
		    <xsd:annotation>
			      <xsd:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the
					DES</xhtml:p>
			      </xsd:documentation>
		    </xsd:annotation>
	  </xsd:attribute>

	  <!--***************************************************-->
	  <!-- Start Groups                                      -->
	  <!--***************************************************-->
	  <xsd:attributeGroup name="PMARootNodeAttributeGroup">
		    <xsd:attribute ref="pma:DESVersion" use="required"/>
		    <xsd:attribute ref="pm:CESVersion" use="required"/> 
	  </xsd:attributeGroup>
	  <!--***************************************************-->
	  <!-- End Groups                                        -->
	  <!--***************************************************-->

	  <!--***************************************************-->
	  <!--End Attribute Definitions                          -->
	  <!--***************************************************-->

	  <!--***************************************************-->
	  <!--Start Type Definitions                             -->
	  <!--***************************************************-->
	  <xsd:complexType name="ProductionMetricsAssertionType">
		    <xsd:sequence>
			      <xsd:element ref="pma:ProductionMetric" minOccurs="1" maxOccurs="unbounded"/>
		    </xsd:sequence>
		    <xsd:attributeGroup ref="pma:PMARootNodeAttributeGroup"/>
	  </xsd:complexType>

	  <xsd:complexType name="ProductionMetricType">
		    <xsd:attribute ref="pma:actor" use="required"/>
		    <xsd:attribute ref="pma:subject" use="required"/>
		    <xsd:attribute ref="pma:location" use="optional"/>
		    <xsd:attributeGroup ref="ism:SecurityAttributesGroup"/>
	  </xsd:complexType>


	  <xsd:simpleType name="DESVersionType">
		    <xsd:restriction base="xsd:string">
			      <xsd:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
		    </xsd:restriction>
	  </xsd:simpleType>

	  <!--***************************************************-->
	  <!--End Type Definitions                               -->
	  <!--***************************************************-->

	  <xsd:annotation>
		    <xsd:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			      <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				        <xhtml:caption>Change History</xhtml:caption>
				        <xhtml:thead>
					          <xhtml:tr>
						            <xhtml:th>Version</xhtml:th>
						            <xhtml:th>Date</xhtml:th>
						            <xhtml:th>By</xhtml:th>
						            <xhtml:th>Description</xhtml:th>
					          </xhtml:tr>
				        </xhtml:thead>
				        <xhtml:tbody>
					          <xhtml:tr>
						            <xhtml:td>2019-MAR</xhtml:td>
						            <xhtml:td>2018-09-01</xhtml:td>
						            <xhtml:td>ODNI/CIO/IAD</xhtml:td>
						            <xhtml:td>Initial creation, reference the change history in the DES.</xhtml:td>
					          </xhtml:tr>
				        </xhtml:tbody>
			      </xhtml:table>
		    </xsd:documentation>
	  </xsd:annotation>
</xsd:schema>
