data/MN/Schema/MN/MN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:fineaccesscontrol="urn:us:gov:ic:mn"
           xmlns:mnregion="urn:us:gov:ic:cvenum:mn:region"
           xmlns:mnissue="urn:us:gov:ic:cvenum:mn:issue"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           targetNamespace="urn:us:gov:ic:mn"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           xml:lang="en"
           ism:compliesWith="USGov USIC"
           ism:resourceElement="true"
           ism:createDate="2019-09-18"
           ism:DESVersion="202111"
           ism:ISMCATCESVersion="202205"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="202111">

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community
				Technical Specification CVE Encoding Specification for Mission Need
				(MN.CES)</xhtml:h1>
		    </xs:documentation>

		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">W3C Schema for the CVE Encoding
				Specification for Mission Need (MN.CES).</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>

			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">This Schema file is one
				component of the CVE Encoding Specification (CES). Please see the document titled <xhtml:i>
					          <xhtml:a href="../../Documents/MN/CesMNXml.pdf">CVE Encoding Specification for
						Mission Need</xhtml:a>
				        </xhtml:i> for a complete description of the encoding as well as list of all
				components.</xhtml:p>

			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">This schema and its components,
				as well as other parts of the CES, may be overridden for localized implementations.
				Permission to use, copy, modify and distribute this Schema and the other parts of
				the CES for any purpose is hereby granted in perpetuity.</xhtml:p>

			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please reference the preceding
				two paragraphs in all copies or variations. The developers make no representation
				about the suitability of the schema or CES for any purpose. It is provided "as is"
				without expressed or implied warranty.</xhtml:p>

			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">If you modify this Schema in any
				way, label your schema as a variant of MN.CES.</xhtml:p>

			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please direct all questions, bug
				reports, and suggestions for changes to the points of contact identified in the
				document referenced above.</xhtml:p>
		    </xs:documentation>

		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">MN does not have a root node.
				This CES provides controlled vocabularies that map directly to regions and issues
				used in Mission Need Profiles for use in instance documents, as entity attributes,
				and by systems making access control decisions.</xhtml:p>
		    </xs:documentation>

		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
				National Intelligence Intelligence Community Chief Information Officer</xhtml:p>
		    </xs:documentation>
	  </xs:annotation>

	  <!--***************************************************-->
	  <xs:import namespace="urn:us:gov:ic:cvenum:mn:region"
              schemaLocation="./CVEGenerated/CVEnumMNRegion.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:mn:issue"
              schemaLocation="./CVEGenerated/CVEnumMNIssue.xsd"/>

	  <!--***************************************************-->

	  <xs:attribute name="CESVersion">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the
					CES</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:simpleType>
			      <xs:restriction base="xs:string">
				        <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
			      </xs:restriction>
		    </xs:simpleType>
	  </xs:attribute>

	  <xs:element name="Region" type="mnregion:CVEnumMNRegion">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">An element limited to
					allowable Region.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:element>

	  <xs:attribute name="region" type="mnregion:CVEnumMNRegion">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute limited to
					allowable Region.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:attribute>

	  <xs:element name="Issue" type="mnissue:CVEnumMNIssue">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">An element limited to
					allowable Issue.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:element>

	  <xs:attribute name="issue" type="mnissue:CVEnumMNIssue">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute limited to
					allowable Issue.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:attribute>

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			      <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				        <xhtml:caption>Change History</xhtml:caption>
				        <xhtml:thead>
					          <xhtml:tr>
						            <th>Version</th>
						            <th>Date</th>
						            <th>By</th>
						            <th>Description</th>
					          </xhtml:tr>
				        </xhtml:thead>
				        <xhtml:tbody>
					          <xhtml:tr>
						            <xhtml:td>2017-MAY</xhtml:td>
						            <xhtml:td>2017-05-12</xhtml:td>
						            <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
						            <xhtml:td> The schema change logs will no longer be maintained as of the
							2017-MAY release. The existing change logs will only serve as legacy
							information. For changes to schema as of and after 2017-MAY, reference
							the change history in the CES. </xhtml:td>
					          </xhtml:tr>
					          <xhtml:tr>
						            <xhtml:td>2015-AUG</xhtml:td>
						            <xhtml:td>2015-07-04</xhtml:td>
						            <xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
						            <xhtml:td>Initial release of this module</xhtml:td>
					          </xhtml:tr>
				        </xhtml:tbody>
			      </xhtml:table>
		    </xs:documentation>
	  </xs:annotation>
</xs:schema>
