crates/ism-cdsm-tdf/data/CDSM-TDF/Schema/CDSM-TDF/CDSM-TDF-guard.xsd

<?xml version="1.0" encoding="UTF-8"?><?skip-unit-test-PI-validation?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:us:gov:ic:tdf" xmlns:cdsm="urn:us:gov:ic:cdsmanifest" xmlns:sfhashv="urn:us:gov:ic:sf:hashverification" xmlns:sf="urn:us:gov:ic:sf" xmlns:anlys="urn:us:gov:ic:anlysassert" targetNamespace="urn:us:gov:ic:tdf" elementFormDefault="qualified" attributeFormDefault="qualified" version="202111">
   <xs:import namespace="urn:us:gov:ic:cdsmanifest" schemaLocation="../CDSM/CDSM.xsd"/>
   <xs:import namespace="urn:us:gov:ic:anlysassert" schemaLocation="../ANLYS/ANLYS.xsd"/>
   <xs:import namespace="urn:us:gov:ic:sf:hashverification" schemaLocation="../IC-SF/HashVerification.xsd"/>
   <xs:import namespace="urn:us:gov:ic:sf" schemaLocation="../IC-SF/IC-SF.xsd"/>
   <xs:element name="TrustedDataObject" type="TrustedDataObjectType"/>
   <xs:attribute name="version">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}(\.[0-9]{6})?\-CDSM\-TDF\.[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:attribute>
   <xs:attribute name="mediaType" type="MediaTypeType"/>
   <xs:attribute name="id">
      <xs:simpleType>
         <xs:restriction base="xs:ID">
            <xs:maxLength value="50"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:attribute>
   <xs:attribute name="idRef">
      <xs:simpleType>
         <xs:restriction base="xs:IDREF">
            <xs:maxLength value="50"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:attribute>
   <xs:attribute name="scope">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="TDO"/>
            <xs:enumeration value="PAYL"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:attribute>
   <xs:attribute name="includesStatementMetadata" type="xs:boolean"/>
   <xs:attribute name="normalizationMethod">
      <xs:simpleType>
         <xs:restriction base="xs:anyURI">
            <xs:enumeration value="http://www.w3.org/TR/xml-c14n11"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:attribute>
   <xs:attribute name="uri">
      <xs:simpleType>
         <xs:restriction base="xs:anyURI">
            <xs:maxLength value="1024"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:attribute>
   <xs:complexType name="TrustedDataObjectType">
      <xs:sequence>
         <xs:group ref="AssertionGroup"/>
         <xs:group ref="PayloadGroup"/>
      </xs:sequence>
      <xs:attribute ref="version"/>
      <xs:attribute ref="sf:DESVersion" use="optional"/>
      <xs:attribute ref="id" use="optional"/>
   </xs:complexType>
   <xs:group name="AssertionGroup">
      <xs:sequence>
         <xs:element name="Assertion" type="AssertionType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="BindingGroup">
      <xs:choice>
         <xs:element name="Binding" type="BindingType" maxOccurs="5"/>
      </xs:choice>
   </xs:group>
   <xs:group name="PayloadGroup">
      <xs:choice>
         <xs:element name="ReferenceValuePayload" type="ReferenceValueType"/>
      </xs:choice>
   </xs:group>
   <xs:group name="StatementGroup">
      <xs:choice>
         <xs:element name="StructuredStatement" type="StructuredValueType"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="AssertionType">
      <xs:sequence>
         <xs:group ref="StatementGroup"/>
         <xs:group ref="BindingGroup" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute ref="scope" use="required"/>
      <xs:attribute ref="id" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ReferenceValueType">
      <xs:sequence minOccurs="0">
         <xs:sequence minOccurs="0">
            <xs:element name="ReferenceValueBlock" type="ReferenceValueBlockType" minOccurs="2" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:element ref="sfhashv:ContentEncodedHashVerification" minOccurs="0"/>
         <xs:element ref="sfhashv:ContentDecodedHashVerification" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute ref="uri" use="required"/>
      <xs:attribute ref="id" use="optional"/>
      <xs:attribute ref="mediaType" use="optional"/>
      <xs:attribute ref="sfhashv:totalBlocks" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ReferenceValueBlockType">
      <xs:attribute ref="uri" use="required"/>
      <xs:attribute ref="sfhashv:block" use="required"/>
   </xs:complexType>
   <xs:complexType name="StructuredValueType">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="cdsm:CdsManifestAssertion"/>
            <xs:element ref="anlys:AnalysisAssertion"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute ref="id" use="optional"/>
   </xs:complexType>
   <xs:complexType name="BindingType">
      <xs:sequence>
         <xs:choice>
            <xs:element name="Signer">
               <xs:complexType>
                  <xs:attribute name="subject" use="required">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:minLength value="1"/>
                           <xs:maxLength value="50"/>
                           <xs:pattern value="([a-zA-Z0-9i\*\.\s=_-])*"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="issuer" use="required">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:minLength value="1"/>
                           <xs:maxLength value="50"/>
                           <xs:pattern value="([a-zA-Z0-9\.\s=_-])*"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:element name="SignatureValue" type="SignatureValueType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SignatureValueType">
      <xs:simpleContent>
         <xs:extension base="xs:base64Binary">
            <xs:attribute name="signatureAlgorithm" use="required">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="SHA256withRSA"/>
                     <xs:enumeration value="SHA384withRSA"/>
                     <xs:enumeration value="SHA512withRSA"/>
                     <xs:enumeration value="SHA256withECDSA"/>
                     <xs:enumeration value="SHA384withECDSA"/>
                     <xs:enumeration value="SHA512withECDSA"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="normalizationMethod" use="required"/>
            <xs:attribute ref="includesStatementMetadata" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="MediaTypeType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
         <xs:pattern value="[a-zA-Z]*/[a-zA-Z+-.]*"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>