crates/ism-ic-genc/data/IC-GENC/Schema/IC-GENC/IC-GENC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           xmlns:gcc="urn:us:gov:ic:cvenum:genc:country"
           xmlns:gsd="urn:us:gov:ic:cvenum:genc:subdivision"
           targetNamespace="urn:us:gov:ic:icgenc"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           xml:lang="en"
           ism:compliesWith="USGov USIC"
           ism:resourceElement="true"
           ism:createDate="2019-09-18"
           ism:DESVersion="202111"
           ism:ISMCATCESVersion="202205"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="202111">

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community
				Technical Specification XML CVE Encoding Specification for Geopolitical Entities,
				Names, and Codes IC-GENC (IC-GENC.XML)</xhtml:h1>
		    </xs:documentation>

		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       
			</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema for the XML CVE
				Encoding Specification for Geopolitical Entities, Names, and Codes (IC-GEN.XML).
			</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> This XML Schema file is one
				component of the XML CVE Encoding Specification (CES). Please see the document
				titled <xhtml:i>
					          <xhtml:a href="../../Documents/IC-GENC/CesGENCXml.pdf">XML CVE Encoding
						Specification for Geopolitical Entities, Names, and Codes</xhtml:a>
				        </xhtml:i> for a complete description of the encoding as well as list of all
				components. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this
				schema or its components, as well as other parts of the CES may be overridden for
				localized implementations. Therefore, permission to use, copy, modify and distribute
				this XML Schema and the other parts of the CES for any purpose is hereby granted in
				perpetuity. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding
				two paragraphs in all copies or variations. The developers make no representation
				about the suitability of the schema or CES for any purpose. It is provided "as is"
				without expressed or implied warranty. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this XML Schema
				in any way label your schema as a variant of IC-GENC.XML. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions,
				bug reports, or suggestions for changes to the points of contact identified in the
				document referenced above. </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> IC-GENC does not have a root
				node. There are one or more peer elements that reference each of its CVE schema
				fragments.</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
				National Intelligence Community Chief Information Officer</xhtml:p>
		    </xs:documentation>
	  </xs:annotation>

	  <!--***************************************************-->
	  <xs:import namespace="urn:us:gov:ic:cvenum:genc:country"
              schemaLocation="CVEGenerated/CVEnumGENCCountryCode.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:genc:subdivision"
              schemaLocation="CVEGenerated/CVEnumGENCSubDivisionCode.xsd"/>
	  <!--***************************************************-->

	  <xs:attribute name="CESVersion">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U"> The version number of the
					CES </xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:simpleType>
			      <xs:restriction base="xs:string">
				        <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
			      </xs:restriction>
		    </xs:simpleType>
	  </xs:attribute>

	  <xs:element name="Country" type="gcc:CVEnumGENCCountryCode">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">An element for specifying an
					IC-GENC geopolitical country code trigraph.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:element>

	  <xs:attribute name="country" type="gcc:CVEnumGENCCountryCode">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for specifying
					an IC-GENC geopolitical country code trigraph.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:attribute>

	  <xs:element name="SubDivision" type="gsd:CVEnumGENCSubDivisionCode">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">An element for specifying an
					IC-GENC geopolitical administrative subdivision.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:element>

	  <xs:attribute name="issue" type="gsd:CVEnumGENCSubDivisionCode">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">An attribute for specifying
					an IC-GENC geopolitical administrative subdivision.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:attribute>


	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			      <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				        <xhtml:caption>Change History</xhtml:caption>
				        <xhtml:thead>
					          <xhtml:tr>
						            <th>Version</th>
						            <th>Date</th>
						            <th>By</th>
						            <th>Description</th>
					          </xhtml:tr>
				        </xhtml:thead>
				        <xhtml:tbody>
					          <xhtml:tr>
						            <xhtml:td>2016-SEP</xhtml:td>
						            <xhtml:td>2016-02-17</xhtml:td>
						            <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
						            <xhtml:td> The schema change logs is not maintained as of the 2016-SEP
							release. For changes to schema as of and after 2016-SEP, reference the
							change history in the CES. </xhtml:td>
					          </xhtml:tr>

				        </xhtml:tbody>
			      </xhtml:table>
		    </xs:documentation>
	  </xs:annotation>
</xs:schema>
