data/MAC/Schema/MAC/MAC-XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen SCHSchema="../../Schematron/ISM/ISM_XML.sch"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:mac="urn:us:gov:ic:mac" 
    xmlns:ism="urn:us:gov:ic:ism"
    xmlns:mime="urn:us:gov:ic:mime"
    xmlns:mactype="urn:us:gov:ic:cvenum:mac:collectionType"
    xmlns:mimetype="urn:us:gov:ic:cvenum:mime:type"
    xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
    attributeFormDefault="qualified" elementFormDefault="qualified"
    targetNamespace="urn:us:gov:ic:mac" ism:DESVersion="201609" ism:createDate="2012-11-05"
    ism:resourceElement="true" ism:classification="U" ism:ownerProducer="USA" version="201609">
    <xsd:annotation>
        <xsd:documentation>
            <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical Specification  
                XML Data Encoding Specification for  
                Multi Audience Collection (MAC.XML)</xhtml:h1>
        </xsd:documentation>

        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       				
            </xhtml:p>
        </xsd:documentation>

        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
                W3C XML Schema for the XML Data Encoding Specification 
                for intelligence Multi Audience Collection (MAC.XML).
            </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This XML Schema file is one component of the XML Data Encoding 
                Specification (DES). Please see the document titled 
                <xhtml:i>
               <xhtml:a href="../../Documents/MAC/DesMacXml.pdf">XML Data Encoding Specification for Multi Audience Tearline</xhtml:a>
            </xhtml:i> 
                for a complete description of the encoding as well as list
                of all components.</xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">It is envisioned that this schema or its components, as well as other
                parts of the DES may be overridden for localized implementations. 
                Therefore, permission to use, copy, modify and distribute this XML 
                Schema and the other parts of the DES for any purpose is hereby 
                granted in perpetuity.</xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please reference the preceding two paragraphs in all copies or
                variations. The developers make no representation about the
                suitability of the schema or DES for any purpose. It is provided 
                "as is" without expressed or implied warranty.</xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">If you modify this XML Schema in any way label your schema
                as a variant of MAC.XML. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please direct all questions, bug reports,or suggestions for changes
                to the points of contact identified in the document referenced above.</xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> The document elements for MAC are: 
                <xhtml:ul>
                    <xhtml:li ism:ownerProducer="USA" ism:classification="U">
                        <xhtml:a href="MAC-XML_xsd_Element_mac_IntelDocTearline.html">mat:IntelDocTearline</xhtml:a>
                    </xhtml:li>
                </xhtml:ul>
            </xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of National Intelligence
                Intelligence Community Chief Information Officer</xhtml:p>
        </xsd:documentation>
    </xsd:annotation>
    <!--***************************************************-->
    <!--Start Import Statements-->
    <!--***************************************************-->
    <xsd:import namespace="urn:us:gov:ic:cvenum:mac:collectionType" 
        schemaLocation="./CVEGenerated/CVEnumMacCollectionType.xsd"/>
    <xsd:import namespace="urn:us:gov:ic:mime" 
        schemaLocation="../MIME/MIME.xsd"/>
    <!--***************************************************-->
    <!--End Import Statements-->
    <!--***************************************************-->
    <!--***************************************************-->
    <!--Start All case-insensitive alphabetically-->
    <!--***************************************************-->

    <xsd:attribute name="DESVersion">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U"> The version number of the
                    Data Encoding Specification (DES). Should there be multiple specified in an
                    instance document the one that appears first is the one that will apply to the
                    entire document. </xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
                <xsd:pattern value="201609(\-{1,23})?"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>

    <xsd:element name="MultiAudience">
        <xsd:annotation>
            <xsd:documentation>
                This is the element that would be used in a TDC to denote the TDC as a multi-audience collection.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attributeGroup ref="mac:MACRootNodeAttributeGroup"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="MultiAudienceObject">
        <xsd:annotation>
            <xsd:documentation>
                This is the element that would be used in a TDO that is part of a multi-audience collection to relay
                specific information about the TDO relevant to the multi-audience collection.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="original" type="xsd:boolean"/>
            <xsd:attribute ref="mime:mimeType"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attribute name="multiAudienceType" type="mactype:CVEnumMacCollectionType"/>
    
    <xsd:attributeGroup name="MACRootNodeAttributeGroup">
        <xsd:attribute ref="mac:DESVersion" use="required"/>
        <xsd:attribute ref="mime:CESVersion" use="optional"/>
        <xsd:attribute ref="mac:multiAudienceType"/>
    </xsd:attributeGroup>
    <!--***************************************************-->
    <!--End All case-insensitive alphabetically-->
    <!--***************************************************-->
    <xsd:annotation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
            <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
                <xhtml:caption>Change History</xhtml:caption>
                <xhtml:thead>
                    <xhtml:tr>
                        <th>Version</th>
                        <th>Date</th>
                        <th>By</th>
                        <th>Description</th>
                    </xhtml:tr>
                </xhtml:thead>
                <xhtml:tbody>
                    <xhtml:tr>
                        <xhtml:td>2016-SEP</xhtml:td>
                        <xhtml:td>2016-02-17</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>
                            The schema change logs will no longer be maintained as of the 2016-SEP release. 
                            The existing change logs will only serve as legacy information. 
                            For changes to schema as of and after 2016-SEP, reference the change history in the DES.
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>1</xhtml:td>
                        <xhtml:td>2013-01-14</xhtml:td>
                        <xhtml:td>Hodges, ODNI/CIO/ME/DIA</xhtml:td>
                        <xhtml:td>Initial release of this module</xhtml:td>
                    </xhtml:tr>
                </xhtml:tbody>
            </xhtml:table>
        </xsd:documentation>
    </xsd:annotation>

</xsd:schema>
