data/ITS-MS/Schema/ITS-MS/ITS-MS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:its="urn:us:gov:ic:its"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:itsmsfabric="urn:us:gov:ic:cvenum:itsms:fabric"
           targetNamespace="urn:us:gov:ic:its"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           ism:resourceElement="true"
           ism:createDate="2012-11-14"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="201502.201807"
           ism:ISMCATCESVersion="202205"
           ism:compliesWith="USGov USIC">
    <xs:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd"/>
    <xs:import namespace="urn:us:gov:ic:cvenum:itsms:fabric"
              schemaLocation="./CVEGenerated/CVEnumITSMSFabric.xsd"/>
    <xs:annotation>
        <xs:documentation>
            <xhtml:h1 ism:ownerProducer="USA" ism:classification="U"> Intelligence Community
                Technical Specification XML Data Encoding Specification for Information Transport
                Service Messaging Service (ITS-MS.XML)</xhtml:h1>
        </xs:documentation>
        <xs:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       
            </xhtml:p>
        </xs:documentation>
        <xs:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema for the XML Data
                Encoding Specification Intelligence Community Metadata Standard for Information
                Transport Service Messaging Service (ITS-MS.XML). </xhtml:p>
        </xs:documentation>
        <xs:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> This XML Schema file is one
                component of the XML Data Encoding Specification (DES). Please see the document
                titled <xhtml:i>
                    <xhtml:a href="../../Documents/ITS-MS/DesItsMsXml.pdf">XML Data Encoding Specification
                        for Information Transport Service Messaging Service</xhtml:a>
                </xhtml:i> for a complete description of the encoding as well as list of all
                components. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this
                schema or its components, as well as other parts of the DES may be overridden for
                localized implementations. Therefore, permission to use, copy, modify and distribute
                this XML Schema and the other parts of the DES for any purpose is hereby granted in
                perpetuity. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding
                two paragraphs in all copies or variations. The developers make no representation
                about the suitability of the schema or DES for any purpose. It is provided "as is"
                without expressed or implied warranty. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this XML Schema
                in any way label your schema as a variant of ITS-MS.XML. </xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions,
                bug reports,or suggestions for changes to the points of contact identified in the
                document referenced above. </xhtml:p>
        </xs:documentation>
        <xs:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
            <xhtml:ul>
                <xhtml:li ism:ownerProducer="USA" ism:classification="U">The ITS assertion schema
                    defines the elements for routing objects within ITS. It contains
                    metadata such as the originator, recipient(s), security markings and delivery
                    speed of service. </xhtml:li>
                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Refer to the <xhtml:i>
                    <xhtml:a href="../../Documents/ITS-MS/DesItsMsXml.pdf">XML Data Encoding
                            Specification for Information Transport Service Messaging
                            Service</xhtml:a>
                    </xhtml:i> (ITS-MS.XML DES) for additional information</xhtml:li>
            </xhtml:ul>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> The root element for ITS-MS is: <xhtml:ul>
                    <xhtml:li ism:ownerProducer="USA" ism:classification="U">
                        <xhtml:a href="ITS-MS_xsd_Element_its_Its.html#Its">its:Its</xhtml:a>
                    </xhtml:li>
                </xhtml:ul>
            </xhtml:p>
        </xs:documentation>
        <xs:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
                National Intelligence Intelligence Community Chief Information Officer</xhtml:p>
        </xs:documentation>
    </xs:annotation>
    <!--
	
	-->
    <!--
	Global Elements
	-->
    <xs:element name="Its" type="its:ItsType">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Assertion Schema for ITS
                    Messaging Service. </xhtml:p>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Client" type="its:ClientType">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA"> An ITS Client. </xhtml:p>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <!--
	Type Definitions
	-->
    <xs:complexType name="ItsType">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA"> The contents and
                    its associated metadata.</xhtml:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MessageId" type="its:UUIDv4Type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA">A version 4 universal 
                            unique identifier (UUID) which can be used to track the transport of this 
                            TDF from originating ITS client to all recipient ITS clients. This element 
                            is optional when creating ITS-MS XML for transport by ITS, but will be 
                            populated by the originating ITS client at the point of transport.</xhtml:p>                        
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ObjectType" type="its:ObjectTypeValues">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> The type of data object. 
                            All ITS files must be listed as either “AUDIT” or “ACINT”. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Priority" type="its:PriorityType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> A rating system that ranks 
                            the importance of an object relative to others in the queue. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PublishDateTime" type="its:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Time that the object is 
                            published to the Queue. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Originator" type="its:OriginatorType">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> The originating ITS client. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RecipientList" type="its:RecipientListType">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> The ClientID for the receiving ITS client. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Topic" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Provides a field for indicating the general topic 
                            of the object. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="encryptTDO" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Boolean value indicating whether TDO should be encrypted 
                            in transit is generally set to False.  This indicates no encryption during transit.  If the value is set to 
                            True then encryption during transit applies. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Written representation or account about which the object 
                            is concerned. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Fabric">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Expressly identifies the network domain from which the 
                            object is originating. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="itsmsfabric:CVEnumITSMSFabric">
                            <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="DESVersion" use="required" form="unqualified">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the specification. 
                        This attribute is intended for processing systems to determine the appropriate versions of 
                        Schema, Schematron, and CVE values for validation and interpretation of an instance document. 
                    </xhtml:p>
                    <xhtml:p ism:ownerProducer="USA" ism:classification="U">If there are multiple of this attribute 
                        specified in an instance document, the first one in document order is the one that will 
                        apply to the entire document. Document order is 
                        defined in <xhtml:a href="https://www.w3.org/TR/xpath-datamodel/#document-order">https://www.w3.org/TR/xpath-datamodel/#document-order</xhtml:a>
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="ObjectTypeValues">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA"> The type of information
                    object being transmitted. </xhtml:p>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="AUDIT"/>
            <xs:enumeration value="ACINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriorityType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="URGENT"/>
            <xs:enumeration value="IMMEDIATE"/>
            <xs:enumeration value="ROUTINE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UUIDv4Type" final="#all">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA">
                    A string that conforms to the pattern for a version 4 UUID as specified by RFC 4122.
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-4[A-Fa-f0-9]{3}-[89aAbB][A-Fa-f0-9]{3}-[A-Fa-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ClientType">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA"> The Name for a client. </xhtml:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClientId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Identifies the ITS Client which provides the 
                            delivery path to the recipient. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
    </xs:complexType>
    <xs:complexType name="OriginatorType">
        <xs:sequence>
            <xs:element ref="its:Client"/>
            <xs:element name="CreateDateTime" type="its:dateTime">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> The time that the originating client creates 
                            the object. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OriginatorObjectID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Provides a field for an originating client to 
                            include a local identifier assigned to the object. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="POC" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Point of Contact. </xhtml:p>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
    </xs:complexType>
    <xs:complexType name="RecipientListType">
        <xs:sequence>
            <xs:element ref="its:Client" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
    </xs:complexType>
    
    <xs:simpleType name="dateTime">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p ism:classification="U" ism:ownerProducer="USA">Restricts the schema dataTime type to force existance of timezone.</xhtml:p>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="\-?[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]+)?(Z|[\-\+][0-9]{2}:[0-9]{2})"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:annotation>
        <xs:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
            <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
                <xhtml:caption>Change History</xhtml:caption>
                <xhtml:thead>
                    <xhtml:tr>
                        <th>Version</th>
                        <xhtml:td>Date</xhtml:td>
                        <xhtml:td>By</xhtml:td>
                        <xhtml:td>Description</xhtml:td>
                    </xhtml:tr>
                </xhtml:thead>
                <xhtml:tbody>
                    <xhtml:tr>
                        <xhtml:td>2015-FEBr2018-APR</xhtml:td>
                        <xhtml:td>2018-03-09</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">
                                    The schema change logs will no longer be maintained as of the 2015-FEBr2018-APR release. 
                                    The existing change logs will only serve as legacy information. 
                                    For changes to schema as of and after 2015-FEBr2018-APR, reference the change history in the DES.</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>2015-FEB</xhtml:td>
                        <xhtml:td>2015-02-28</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">
                                    Added "ACINT" to ENUM ObjectType</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>2015-FEB</xhtml:td>
                        <xhtml:td>2015-02-28</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">
                                    Updates to replace IC-ID with version 4 UUID</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>1</xhtml:td>
                        <xhtml:td>2012-11-14</xhtml:td>
                        <xhtml:td>ODNI/OCIO/ICEA</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">
                                    Initial release</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:tbody>
            </xhtml:table>
        </xs:documentation>
    </xs:annotation>
</xs:schema>
