data/AUDIT/Schema/AUDIT/IC-AUDIT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:ism="urn:us:gov:ic:ism" 
	xmlns="urn:us:gov:ic:audit" 
	xmlns:common="urn:us:gov:ic:common" 
	xmlns:ntk="urn:us:gov:ic:ntk" 
	targetNamespace="urn:us:gov:ic:audit" 
	xmlns:cve="urn:us:gov:ic:audit-cvenum" 
	xml:lang="en" 
	ism:DESVersion="7" 
	ism:createDate="2011-09-19" 
	ism:resourceelement="true"
	ism:classification="U" 
	ism:ownerProducer="USA" version="4">
	<xsd:annotation>
		<xsd:documentation>
			<h1 xmlns="">Intelligence Community Technical Specification  
				XML Data Encoding Specification for Enterprise Audit Exchange (AUDIT.XML)</h1>
		</xsd:documentation>
		<xsd:documentation>
			<h2 xmlns="">Description</h2>
			<p xmlns="">
				W3C XML Schema for the XML Data Encoding Specification 
				Intelligence Community Metadata Standard for Enterprise Audit Exchange (AUDIT.XML).				
			</p>
		</xsd:documentation>
		<xsd:documentation>
			<h2 xmlns="">Introduction</h2>
			<p xmlns="">
				This XML Schema file is one component of the XML Data Encoding 
				Specification (DES). Please see the document titled
				<i><a href="../../DES/AUDIT/DesAuditXml.pdf">XML Data Encoding Specification for Enterprise Audit Exchange</a></i>	 
				for a complete description of the encoding as well as list
				of all components.  
			</p>
			<p xmlns="">
				It is envisioned that this schema or its components, as well as other
				parts of the DES may be overridden for localized implementations. 
				Therefore, permission to use, copy, modify and distribute this XML 
				Schema and the other parts of the DES for any purpose is hereby 
				granted in perpetuity.
			</p>
			<p xmlns="">
				Please reference the preceding two paragraphs in all copies or
				variations. The developers make no representation about the
				suitability of the schema or DES for any purpose. It is provided 
				"as is" without expressed or implied warranty.
			</p>
			<p xmlns="">
				If you modify this XML Schema in any way label your schema
				as a variant of AUDIT.XML. 
			</p>
			<p xmlns="">
				Please direct all questions, bug reports,or suggestions for changes
				to the points of contact identified in the document referenced above.
			</p>
		</xsd:documentation>
		<xsd:documentation>
			<h2 xmlns="">Implementation Notes</h2>
			<p xmlns="">
				The document element for an AUDIT document is <a href="IC-AUDIT_xsd_Element_AuditRecordList.html">audit:AuditRecordList</a>.
			</p>
		</xsd:documentation>
		<xsd:documentation>
			<h2 xmlns="">Creators</h2>
			<p xmlns="">Office of the Director of National Intelligence
				Intelligence Community Chief Information Officer</p>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import namespace="urn:us:gov:ic:audit-cvenum" schemaLocation="./CVEGeneratedTypes.xsd">
		<xsd:annotation>
			<xsd:documentation>Import Controlled Vocabulary Enumeration (CVE) generated schema types</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<xsd:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd">
		<xsd:annotation>
			<xsd:documentation>Import IC Information Security Marking (ISM) attributes</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<xsd:import namespace="urn:us:gov:ic:ntk" schemaLocation="../NTK/IC-NTK.xsd">
		<xsd:annotation>
			<xsd:documentation>Import IC Need To Know (NTK)</xsd:documentation>
		</xsd:annotation>
	</xsd:import>

	<xsd:element name="AuditRecordList" type="AuditRecordListType">
		<xsd:annotation>
			<xsd:documentation>
                Definition of the AuditRecordList class.
				This is the root node and should be the basis for any audit records.
				Simple list container for audit records.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="AuditRecordListType">
		<xsd:annotation>
			<xsd:documentation>
			Defines a collection of audit records. The root node of 
			Audit.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element ref="ntk:Access" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="AuditRecord" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="AuditRootNodeAttributeGroup"/>
	</xsd:complexType>

	<xsd:element name="AuditRecord" type="AuditRecordType"/>

	<xsd:complexType name="AuditRecordType">
		<xsd:annotation>
			<xsd:documentation>
				Type for all audit records.  
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="1" maxOccurs="1">

			<xsd:element ref="ntk:Access" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Id" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="Creator" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="ism:NoticeList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="DateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:sequence minOccurs="0" maxOccurs="1">
				<xsd:element ref="NTPServer" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="NTPLastUpdate" minOccurs="1" maxOccurs="1"/>				
			</xsd:sequence>
			<xsd:element ref="SessionId" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="WorkflowId" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Message" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Action" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="ActionResult" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="ActionInitiator" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ActionTarget" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ActionLocation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ism:SecurityAttributesOptionGroup"/>
		<xsd:attribute name="auditRecordType" type="cve:CVEnumAuditRecordType" use="required"/>
	</xsd:complexType>

	<xsd:element name="Id" type="GenericIdentifierType"/>
	<xsd:element name="Creator" type="IdentityIdentifierType"/>
	<xsd:element name="DateTime" type="xsd:dateTime"/>
	<xsd:element name="NTPServer" type="IdentityIdentifierType"/>
	<xsd:element name="NTPLastUpdate" type="xsd:dateTime"/>
	<xsd:element name="SessionId" type="xsd:string"/>
	<xsd:element name="WorkflowId" type="xsd:string"/>
	<xsd:element name="Message" type="xsd:string"/>
	<xsd:element name="Action" type="cve:CVEnumAuditActionType"/>
	<xsd:element name="ActionResult" type="cve:CVEnumAuditActionResultType"/>
	<xsd:element name="ActionInitiator" type="IdentityIdentifierType"/>
	<xsd:element name="ActionTarget" type="IdentityIdentifierType"/>
	<xsd:element name="ActionLocation" type="GenericIdentifierType"/>
	<xsd:element name="Resource" type="ResourceType"/>
	
	<xsd:complexType name="GenericIdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				Generic type identifier.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element ref="TypeOfGenericIdentifier" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="GenericIdentifierValue" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="GenericIdentifierScope" minOccurs="0" maxOccurs="1"/>			
		</xsd:all>
	</xsd:complexType>
	<xsd:element name="TypeOfGenericIdentifier" type="xsd:string"/>
	<xsd:element name="GenericIdentifierValue" type="xsd:string"/>
	<xsd:element name="GenericIdentifierScope" type="xsd:string"/>
	
	<xsd:complexType name="IdentityIdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				Definition of the IdentityReference class.
				Reference to the identity performing action, acted upon, or generating
				the event.
			</xsd:documentation>
			<xsd:documentation>
				Generic descriptor to help define the identity and it's type.  Like TypeDescriptor, allows
				us to reflect the identity without specifying its content in the schema.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all minOccurs="1" maxOccurs="1">
			<!-- Unique identifier for the user within the application -->
			<xsd:element ref="TypeOfIdentityIdentifier" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="IdentityIdentifierValue" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="IdentityIdentifierScope" minOccurs="0" maxOccurs="1"/>		
		</xsd:all>
	</xsd:complexType>
	<xsd:element name="TypeOfIdentityIdentifier" type="cve:CVEnumAuditTypeOfIdentityIdentifierType"/>
	<xsd:element name="IdentityIdentifierValue" type="xsd:string"/>
	<xsd:element name="IdentityIdentifierScope" type="xsd:string"/>
	
	<xsd:complexType name="ResourceType">
		<xsd:annotation>
			<xsd:documentation>
				Definition of the Resource class.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element ref="TypeOfResource" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="Id" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="Creator" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="ism:NoticeList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Url" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Title" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Summary" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="CreateDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="PublishDate" minOccurs="0" maxOccurs="1"/>			
			<xsd:element ref="ResourceBody" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:element name="Url" type="xsd:string"/>
	<xsd:element name="Title" type="xsd:string"/>
	<xsd:element name="Summary" type="xsd:string"/>
	<xsd:element name="CreateDate" type="xsd:dateTime"/>
	<xsd:element name="PublishDate" type="xsd:dateTime"/>
	<xsd:element name="TypeOfResource" type="ResourceTypeDescriptorType"/>
	<xsd:element name="ResourceBody" type="ResourceBodyType"/>
	
	<xsd:complexType name="ResourceTypeDescriptorType">
		<xsd:annotation>
			<xsd:documentation>
				Descriptor for any "Type".  Helps us define that the "body" really is.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all minOccurs="1" maxOccurs="1">
			<!-- text describing the type; should be from a CVE -->
			<xsd:element ref="ValueOfResourceType" minOccurs="1" maxOccurs="1"/>
			<!-- The namespace for the CVE -->
			<xsd:element ref="NamespaceOfResourceType" minOccurs="0" maxOccurs="1"/>
			<!-- Location to retrieve CVE from -->
			<xsd:element ref="SourceOfResourceType" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>

	<xsd:element name="ValueOfResourceType" type="xsd:string"/>
	<xsd:element name="NamespaceOfResourceType" type="xsd:string"/>
	<xsd:element name="SourceOfResourceType" type="xsd:string"/>
	
	<xsd:complexType name="ResourceBodyType">
		<xsd:annotation>
			<xsd:documentation>
				Definition of the ResourceBody class.
				Metadata common to all Resources
			</xsd:documentation>
			<xsd:documentation>
				Defines the resource body.  Contains metadata about the resource and an any field to capture the resource.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:any namespace="##other" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:attributeGroup name="AuditRootNodeAttributeGroup">
		<xsd:attribute name="DESVersion" use="required" type="xsd:int" fixed="4" form="qualified">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					The version number of the DES
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="ism:ISMRootNodeAttributeGroup"/>
		<xsd:attributeGroup ref="ism:ResourceNodeAttributeGroup"/>
		<xsd:attributeGroup ref="ntk:NTKRootNodeAttributeGroup"/>
	</xsd:attributeGroup>

	<xsd:annotation>
		<xsd:documentation>
			<h2 xmlns="">Formal Change List</h2>
			<table xmlns="" id="ChangeHistory">
				<caption>Change History</caption>
				<thead>
					<tr>
						<th>Version</th>
						<td>Date</td>
						<td>By</td>
						<td>Description</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>4</td>
						<td>2011-09-08</td>
						<td>Colbert, ODNI/OCIO/ICEA</td>
						<td>
							<ul>
								<li>Added NTK DESVersion to the AuditRootNodeAttributeGroup.</li>	
							</ul>
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>2011-09-07</td>
						<td>Wigglesworth, ODNI/OCIO/ICEA</td>
						<td>
							<ul>
								<li>Combined AuditRecordType, AbstractEventType, and ActionEventType into
								AuditRecordType</li>
								<li>Combined ResourceType and AbstractResourceType into ResourceType</li>
								<li>Simplified and cleaned identifier elements and complex types</li>	
								<li>Modified date/time elements to use xsd:dateTime</li>	
								<li>Added elements supporting use of a Network Time Protocol(NTP)server</li>	
								<li>Added optional scope field to identifier types</li>	
								<li>Removed IC-Common Reference</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>2011-07-07</td>
						<td>Colbert, ODNI/OCIO/ICEA</td>
						<td>
							<ul>
								<li>Added version information to the header</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>2011-04-26</td>
						<td>Colbert, ODNI/OCIO/ICEA</td>
						<td><ul>
							<li>Made ISM attributes required instead of optional</li>
							<li>Explicitly defined minOccurs and maxOccurs in all cases</li>
							<li>Added optional ntk:Access element to AuditRecordListType and AuditRecordType</li>
							<li>Replaced NoticeList, Notice and NoticeText elements with ISM versions</li>
						</ul></td>
					</tr>
					<tr>
						<td>2-RC2</td>
						<td/>
						<td>ODNI/OCIO/ICEA</td>
						<td>
							<ul>
								<li>Reduced to one general AuditRecord with auditRecordType attribute</li>
								<li>Upgraded to ISM v6; created attribute group AuditRootNodeAttributeGroup</li>
								<li>Introduced Notice and associated types.  Added Notice to common metadata</li>
								<li>Changed XMLSchema namespace name to xsd from xs</li>
								<li>Added additional action types</li>
								<li>Removed EventSource</li>
								<li>Update to add min max where not specified</li>
								<li>Update to use all where possible</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>1-RC2</td>
						<td/>
						<td>ODNI/OCIO/ICEA</td>
						<td><ul>
							<li>Updated types names to remove confusion with element names.</li>
							<li>Removed unused types</li>
							<li>All "generic" elements now use GenericTypeDescriptorType to describe the object pointer/placeholder</li>
							<li>Upgraded to ISM v3</li>
						</ul></td>
					</tr>
					<tr>
						<td>1-RC1</td>
						<td/>
						<td>ODNI/OCIO/ICEA</td>
						<td>
							<ul>
								<li>Updated versions throughout file</li>
								<li>Changed location of ISM to ISM.XML</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>0.3</td>
						<td/>
						<td>ODNI/OCIO/ICEA</td>
						<td>
							<ul>
								<li>Added annotations</li>
								<li>Added AuditRecordListType</li>
								<li>Added GenericAuditRecordType</li>
								<li>Added PUBS.XML, AUDIT.XML as resource type</li>
								<li>Added query, query result, ATOM, ICQL, as resource type</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>0.2</td>
						<td/>
						<td>ODNI/OCIO/ICEA</td>
						<td>Added additional constraints.
							<ul>
								<li>If ResourceMetaData is included, most fields are required.</li>
								<li>If ResourceBody is included, most fields are required.</li>
								<li>Action and ActionResult is required now.</li>
								<li>Record level common metadata required now.</li>
								<li>Date/Time and Source required now.</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>0.1</td>
						<td/>
						<td>ODNI/OCIO/ICEA</td>
						<td>Initial alpha release</td>
					</tr>
				</tbody>
			</table>
		</xsd:documentation>
	</xsd:annotation>
</xsd:schema>
