crates/ism-ic-id/data/IC-ID/Schema/IC-ID/IC-ID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:icid="urn:us:gov:ic:id"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           targetNamespace="urn:us:gov:ic:id"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           xml:lang="en"
           ism:compliesWith="USGov USIC"
           ism:resourceElement="true"
           ism:createDate="2019-09-18"
           ism:DESVersion="202111"
           ism:ISMCATCESVersion="202205"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="202111">

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community
				Technical Specification XML Data Encoding Specification for Intelligence Community
				Identifier (IC-ID.XML)</xhtml:h1>
		    </xs:documentation>

		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema for the XML Data
				Encoding Specification for the Intelligence Community Identifier (IC-ID.XML).
			</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> This XML Schema file is one
				component of the XML Data Encoding Specification (DES). Please see the document
				titled <xhtml:i>
					          <xhtml:a href="../../Documents/IC-ID/DesIcIdTxt-Xml.pdf">Text and XML Data
						Encoding Specification for the Intelligence Community Identifier</xhtml:a>
				        </xhtml:i> for a complete description of the encoding as well as list of all
				components. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this
				schema or its components, as well as other parts of the DES may be overridden for
				localized implementations. Therefore, permission to use, copy, modify and distribute
				this XML Schema and the other parts of the DES for any purpose is hereby granted in
				perpetuity. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding
				two paragraphs in all copies or variations. The developers make no representation
				about the suitability of the schema or DES for any purpose. It is provided "as is"
				without expressed or implied warranty. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this XML Schema
				in any way label your schema as a variant of IC-ID.XML. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions,
				bug reports,or suggestions for changes to the points of contact identified in the
				document referenced above. </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">IC-ID does not have a root node. It is
			either just an icid:Identifier element or @icid:identifier attribute.</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
				National Intelligence Intelligence Community Chief Information Officer</xhtml:p>
		    </xs:documentation>
	  </xs:annotation>

	  <xs:element name="Identifier" type="icid:IcIdType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Element to hold the IC-ID
					of the data object. </xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:element>

	  <xs:attribute name="identifier" type="icid:IcIdType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Attribute to hold the IC-ID
					of the data object. </xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:attribute>
	
	  <xs:attribute name="DESVersion">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the DES</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:simpleType>
			      <xs:restriction base="xs:string">
				        <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
			      </xs:restriction>
		    </xs:simpleType>
	  </xs:attribute>

	  <xs:simpleType name="IcIdType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Defines the restrictions of
					an IC-ID. A valid IC-Identifier must meet the following criteria: <xhtml:ul>
						            <xhtml:li>The id must begin with 'guide://'</xhtml:li>
						            <xhtml:li>The prefix for the id is an integer up to 16 digits with no
							leading zeros allowed</xhtml:li>
						            <xhtml:li>The suffix is an alphanumeric string limited to 36 characters of
							the set that includes A-Z, a-z, 0-9, underscore, hyphen, and
							period</xhtml:li>
						            <xhtml:li>There are no additional characters proceeding the ID.</xhtml:li>
					          </xhtml:ul> To satisfy these criteria, this type is restricted to the following
					regex: 'guide://([1-9][0-9]{0,5}|0)/[A-Za-z0-9_\-\.]{1,36}'.</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:anyURI">
			      <xs:pattern value="guide://([1-9][0-9]{0,15}|0)/[A-Za-z0-9_\-\.]{1,36}"/>
		    </xs:restriction>
	  </xs:simpleType>

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			      <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				        <xhtml:caption>Change History</xhtml:caption>
				        <xhtml:thead>
					          <xhtml:tr>
						            <th>Version</th>
						            <th>Date</th>
						            <th>By</th>
						            <th>Description</th>
					          </xhtml:tr>
				        </xhtml:thead>
				        <xhtml:tbody>
					          <xhtml:tr>
						            <xhtml:td>2021-NOV</xhtml:td>
						            <xhtml:td>2021-09-20</xhtml:td>
						            <xhtml:td>ODNI/IC CIO/CSD</xhtml:td>
						            <xhtml:td>
							              <xhtml:ul>
								                <xhtml:li ism:ownerProducer="USA" ism:classification="U"> The schema
									change logs will no longer be maintained as of the 2021-NOV
									release. The existing change logs will only serve as legacy
									information. For changes to schema as of and after 2021-NOV,
									reference the change history in the DES.</xhtml:li>
							              </xhtml:ul>
						            </xhtml:td>
					          </xhtml:tr>
					          <xhtml:tr>
						            <xhtml:td>1</xhtml:td>
						            <xhtml:td>2012-01-30</xhtml:td>
						            <xhtml:td>Clay, ODNI/CIO/ME/DIA</xhtml:td>
						            <xhtml:td>Initial release of this module</xhtml:td>
					          </xhtml:tr>
				        </xhtml:tbody>
			      </xhtml:table>
		    </xs:documentation>
	  </xs:annotation>
</xs:schema>
