data/IC-EDH/Examples/IC-EDH/test_edh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ntk="urn:us:gov:ic:ntk"
   xmlns:ism="urn:us:gov:ic:ism" xmlns:arh="urn:us:gov:ic:arh" xmlns:edh="urn:us:gov:ic:edh"
   xmlns="test:edh" targetNamespace="test:edh">
   <xs:import namespace="urn:us:gov:ic:ntk"
              schemaLocation="../../Schema/ISM/IC-NTK.xsd"/>
   <xs:import namespace="urn:us:gov:ic:ism"
              schemaLocation="../../Schema/ISM/IC-ISM.xsd"/>
   <xs:import namespace="urn:us:gov:ic:arh"
              schemaLocation="../../Schema/ISM/IC-ARH.xsd"/>
   <xs:import namespace="urn:us:gov:ic:edh"
              schemaLocation="../../Schema/IC-EDH/IC-EDH.xsd"/>
   <xs:element name="root" type="edhRoot"/>
   <xs:complexType name="edhRoot">
      <xs:sequence>
         <xs:choice>
            <xs:element ref="edh:Edh" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="edh:ExternalEdh" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
         <xs:element ref="edhPortionMark"/>
      </xs:sequence>
      <xs:attribute ref="arh:DESVersion"/>
      <xs:attribute ref="edh:DESVersion"/>
      <xs:attribute ref="ism:DESVersion"/>
      <xs:attribute ref="ism:ISMCATCESVersion"/>
      <xs:attribute ref="ntk:DESVersion"/>
   </xs:complexType>
   <xs:element name="edhPortionMark" type="edhPortion"/>
   <xs:complexType name="edhPortion">
      <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
   </xs:complexType>
</xs:schema>
