data/UIAS/Schema/UIAS/UIAS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ism="urn:us:gov:ic:ism"
           xmlns:uias="urn:us:gov:ic:uias"
           xmlns:role="urn:us:gov:ic:role"
           xmlns:usagency="urn:us:gov:ic:usagency"
           xmlns:mn="urn:us:gov:ic:mn"
           xmlns:virt="urn:us:gov:ic:virt"
           xmlns:uaa="urn:us:gov:ic:cvenum:usagency:agencyacronym"
           xmlns:usagencyar="urn:us:gov:ic:cvenum:usagency:auditRoutingOrganization"
           xmlns:uiasca="urn:us:gov:ic:cvenum:uias:certificateauthority"
           xmlns:uiasc="urn:us:gov:ic:cvenum:uias:clearance"
           xmlns:uiase="urn:us:gov:ic:cvenum:uias:entitytype"
           xmlns:uiassm="urn:us:gov:ic:cvenum:uias:securitymarktype"
           xmlns:uiashc="urn:us:gov:ic:cvenum:uias:handlingControls"
           xmlns:uiasls="urn:us:gov:ic:cvenum:uias:lifecyclestatus"
           xmlns:ac="urn:us:gov:ic:authcat"
           xmlns:actype="urn:us:gov:ic:cvenum:authcat:authcattype"
           xmlns:fac="urn:us:gov:ic:fineaccesscontrol"
           xmlns:factype="urn:us:gov:ic:cvenum:fac:fineaccesscontroltype"
           xmlns:mni="urn:us:gov:ic:cvenum:mn:issue"
           xmlns:mnr="urn:us:gov:ic:cvenum:mn:region"
           xmlns:genccountry="urn:us:gov:ic:cvenum:genc:country"
           xmlns:virtn="urn:us:gov:ic:cvenum:virt:network"
           xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
           targetNamespace="urn:us:gov:ic:uias"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           xml:lang="en"
           ism:compliesWith="USGov USIC"
           ism:resourceElement="true"
           ism:createDate="2019-09-18"
           ism:DESVersion="202111"
           ism:ISMCATCESVersion="202205"
           ism:classification="U"
           ism:ownerProducer="USA"
           version="202111">

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community
				Technical Specification XML Data Encoding Specification for Unified Identity
				Attribute Set (UIAS.XML)</xhtml:h1>
		    </xs:documentation>

		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       
			</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema for the XML Data
				Encoding Specification for Unified Identity Attribute Set (UIAS.XML). </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> This XML Schema file is an
				informational component of the XML Data Encoding Specification (DES). Please see the
				document titled <xhtml:i>
					          <xhtml:a href="../../Documents/UIAS/DesUiasXml.pdf">XML Data Encoding
						Specification for Unified Identity Attribute Set</xhtml:a>
				        </xhtml:i> for a complete description of the encoding as well as list of all
				components. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this
				schema or its components, as well as other parts of the DES may be overridden for
				localized implementations. Therefore, permission to use, copy, modify and distribute
				this XML Schema and the other parts of the DES for any purpose is hereby granted in
				perpetuity. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding
				two paragraphs in all copies or variations. The developers make no representation
				about the suitability of the schema or DES for any purpose. It is provided "as is"
				without expressed or implied warranty. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this XML Schema
				in any way label your schema as a variant of UIAS.XML. </xhtml:p>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions,
				bug reports,or suggestions for changes to the points of contact identified in the
				document referenced above. </xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U"> UIAS does not have a root node. UIAS is
			      the basis for defining and populating the set of attributes and values that comprise
			      an attribute statement or assertion; for instance in Security Assertion Markup Language (SAML).</xhtml:p>
		    </xs:documentation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
				National Intelligence Intelligence Community Chief Information Officer</xhtml:p>
		    </xs:documentation>
	  </xs:annotation>

	  <!--***************************************************-->

	  <xs:import namespace="urn:us:gov:ic:cvenum:uias:certificateauthority"
              schemaLocation="CVEGenerated/CVEnumUIASCertificateAuthority.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:uias:clearance"
              schemaLocation="CVEGenerated/CVEnumUIASClearance.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:uias:entitytype"
              schemaLocation="CVEGenerated/CVEnumUIASEntityType.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:uias:securitymarktype"
              schemaLocation="CVEGenerated/CVEnumUIASSecurityMarkType.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:uias:handlingControls"
              schemaLocation="CVEGenerated/CVEnumUIASHandlingControls.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:uias:lifecyclestatus"
              schemaLocation="CVEGenerated/CVEnumUIASLifeCycleStatus.xsd"/>
	
	  <!-- AUTHCAT -->
	  <xs:import namespace="urn:us:gov:ic:authcat"
              schemaLocation="../AUTHCAT/AuthorityCategory.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:authcat:authcattype"
              schemaLocation="../AUTHCAT/CVEGenerated/CVEnumAuthCatType.xsd"/>

	  <!-- FAC -->
	  <xs:import namespace="urn:us:gov:ic:fineaccesscontrol"
              schemaLocation="../FAC/FineAccessControl.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:fac:fineaccesscontroltype"
              schemaLocation="../FAC/CVEGenerated/CVEnumFineAccessControlType.xsd"/>

	  <!-- USAgency -->
	  <xs:import namespace="urn:us:gov:ic:usagency"
              schemaLocation="../USAgency/USAgency.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:usagency:agencyacronym"
              schemaLocation="../USAgency/CVEGenerated/CVEnumUSAgencyAcronym.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:usagency:auditRoutingOrganization"
              schemaLocation="../USAgency/CVEGenerated/CVEnumAuditRoutingOrg.xsd"/>

	  <!-- IC-GENC -->
	  <xs:import namespace="urn:us:gov:ic:icgenc"
              schemaLocation="../IC-GENC/IC-GENC.xsd"/>
	  <!-- Imports ISM solely for the ISMCATCESVersion -->
	  <xs:import namespace="urn:us:gov:ic:cvenum:genc:country"
              schemaLocation="../IC-GENC/CVEGenerated/CVEnumGENCCountryCode.xsd"/>

	  <!-- MN -->
	  <xs:import namespace="urn:us:gov:ic:mn" schemaLocation="../MN/MN.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:mn:issue"
              schemaLocation="../MN/CVEGenerated/CVEnumMNIssue.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:mn:region"
              schemaLocation="../MN/CVEGenerated/CVEnumMNRegion.xsd"/>

	  <!-- VIRT -->
	  <xs:import namespace="urn:us:gov:ic:virt" schemaLocation="../VIRT/VIRT.xsd"/>
	  <xs:import namespace="urn:us:gov:ic:cvenum:virt:network"
              schemaLocation="../VIRT/CVEGenerated/CVEnumVIRTNetworkName.xsd"/>
	
	  <!-- ROLE -->
	  <xs:import namespace="urn:us:gov:ic:role" schemaLocation="../ROLE/ROLE.xsd"/>

	  <!--***************************************************-->

	  <xs:attribute name="DESVersion">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the specification. 
					This attribute is intended for processing systems to determine the appropriate versions of 
					Schema, Schematron, and CVE values for validation and interpretation of an instance document. 
				</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">If there are multiple of this attribute 
					specified in an instance document, the first one in document order is the one that will 
					apply to the entire document. Document order is 
					defined in <xhtml:a href="https://www.w3.org/TR/xpath-datamodel/#document-order">https://www.w3.org/TR/xpath-datamodel/#document-order</xhtml:a>
				        </xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:simpleType>
			      <xs:restriction base="xs:string">
				        <xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
			      </xs:restriction>
		    </xs:simpleType>
	  </xs:attribute>

	  <!-- Simple Types -->

	  <xs:simpleType name="adminOrganizationType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the home
					organization of the entity.</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that
					represents an entity's administrative organization. This is tied to the USAgency
					Acronym list for US Agencies and follows an open ended regular expression for
					the other five eyes countries</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:union memberTypes="uaa:CVEnumUSAgencyAcronym">
			      <xs:simpleType>
			      	  <xs:annotation>
			      		    <xs:documentation xml:lang="en">
			      			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">AUS admin org regex</xhtml:p>
			      		    </xs:documentation>
			      	  </xs:annotation>
				        <xs:restriction base="xs:token">
					          <xs:pattern value="AUS.[A-Za-z0-9_\-\.]{1,36}"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType>
			      	  <xs:annotation>
			      		    <xs:documentation xml:lang="en">
			      			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">CAN admin org regex</xhtml:p>
			      		    </xs:documentation>
			      	  </xs:annotation>
				        <xs:restriction base="xs:token">
					          <xs:pattern value="CAN.[A-Za-z0-9_\-\.]{1,36}"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType>
			      	  <xs:annotation>
			      		    <xs:documentation xml:lang="en">
			      			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">GBR admin org regex</xhtml:p>
			      		    </xs:documentation>
			      	  </xs:annotation>
				        <xs:restriction base="xs:token">
					          <xs:pattern value="GBR.[A-Za-z0-9_\-\.]{1,36}"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType>
			      	  <xs:annotation>
			      		    <xs:documentation xml:lang="en">
			      			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">NZL admin org regex</xhtml:p>
			      		    </xs:documentation>
			      	  </xs:annotation>
				        <xs:restriction base="xs:token">
					          <xs:pattern value="NZL.[A-Za-z0-9_\-\.]{1,36}"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:union>
	  </xs:simpleType>

	  <xs:simpleType name="auditRoutingOrganizationType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the audit routing
					organization of the entity.</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that
					represents an entity's audit routing organization. This is tied to the
					CVEnumUIASAuditRoutingOrg CVE which is managed by the IC Audit Subcommittee
					(ICAS)</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="usagencyar:CVEnumAuditRoutingOrg">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="2"/>
		    </xs:restriction>
	  </xs:simpleType>

	  <xs:simpleType name="authorityCategoryType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">This attribute specifies the
					authority(ies) under which the entity is authorized to access and/or discover
					protected resources</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="actype:CVEnumAuthCatType"/>
	  </xs:simpleType>

	  <xs:simpleType name="ATOStatusType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">This attribute indicates the
					Authority to Operate (ATO) status for the non-person entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:boolean"/>
	  </xs:simpleType>

	  <xs:simpleType name="aICPType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects whether or not the
					entity is an AICP</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:boolean"/>
	  </xs:simpleType>

	  <xs:simpleType name="certificateAuthorityType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the issuing PKI
					certificate authority for the entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="uiasca:CVEnumUIASCertificateAuthority"/>
	  </xs:simpleType>

	  <xs:simpleType name="clearanceType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the clearance or
					classification level of the entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="uiasc:CVEnumUIASClearance"/>
	  </xs:simpleType>

	  <xs:simpleType name="countryOfAffiliationType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the citizenship(s)
					or affiliation(s) of the entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="genccountry:CVEnumGENCCountryCode"/>
	  </xs:simpleType>

	  <xs:simpleType name="digitalIdentifierType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the DN from the
					entity’s PKI certificate</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:string">
			      <xs:pattern value="[\s]*\-(CN|cn)=[A-Za-z0-9 .]+(,[\s]*[a-z0-9 .]+=[A-Za-z0-9 .]+)*[\s]*"/>
		    </xs:restriction>
	  </xs:simpleType>

	  <xs:simpleType name="dutyOrganizationType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the assigned
					organization of the entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  	  <xs:union memberTypes="uaa:CVEnumUSAgencyAcronym">
	  		    <xs:simpleType>
	  			      <xs:annotation>
	  				        <xs:documentation xml:lang="en">
	  					          <xhtml:p ism:ownerProducer="USA" ism:classification="U">AUS admin org regex</xhtml:p>
	  				        </xs:documentation>
	  			      </xs:annotation>
	  			      <xs:restriction base="xs:token">
	  				        <xs:pattern value="AUS.[A-Za-z0-9_\-\.]{1,36}"/>
	  			      </xs:restriction>
	  		    </xs:simpleType>
	  		    <xs:simpleType>
	  			      <xs:annotation>
	  				        <xs:documentation xml:lang="en">
	  					          <xhtml:p ism:ownerProducer="USA" ism:classification="U">CAN admin org regex</xhtml:p>
	  				        </xs:documentation>
	  			      </xs:annotation>
	  			      <xs:restriction base="xs:token">
	  				        <xs:pattern value="CAN.[A-Za-z0-9_\-\.]{1,36}"/>
	  			      </xs:restriction>
	  		    </xs:simpleType>
	  		    <xs:simpleType>
	  			      <xs:annotation>
	  				        <xs:documentation xml:lang="en">
	  					          <xhtml:p ism:ownerProducer="USA" ism:classification="U">GBR admin org regex</xhtml:p>
	  				        </xs:documentation>
	  			      </xs:annotation>
	  			      <xs:restriction base="xs:token">
	  				        <xs:pattern value="GBR.[A-Za-z0-9_\-\.]{1,36}"/>
	  			      </xs:restriction>
	  		    </xs:simpleType>
	  		    <xs:simpleType>
	  			      <xs:annotation>
	  				        <xs:documentation xml:lang="en">
	  					          <xhtml:p ism:ownerProducer="USA" ism:classification="U">NZL admin org regex</xhtml:p>
	  				        </xs:documentation>
	  			      </xs:annotation>
	  			      <xs:restriction base="xs:token">
	  				        <xs:pattern value="NZL.[A-Za-z0-9_\-\.]{1,36}"/>
	  			      </xs:restriction>
	  		    </xs:simpleType>
	  	  </xs:union>
	  </xs:simpleType>

	  <xs:simpleType name="dutyOrganizationUnitType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the assigned
					organization unit structure of the entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:string">
			      <xs:pattern value="[\s]*[A-Za-z0-9\-_.]+(:[A-Za-z0-9\-_]+)*[\s]*"/>
		    </xs:restriction>
	  </xs:simpleType>

	  <xs:simpleType name="entitySecurityMarkType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Classification and handling
					of the entity’s digital identifier</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="uiassm:CVEnumUIASSecurityMarkType"/>
	  </xs:simpleType>

	  <xs:simpleType name="entityTypeType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the type of the
					entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="uiase:CVEnumUIASEntityType"/>
	  </xs:simpleType>

	  <xs:simpleType name="fineAccessControlsType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the fine grain
					access aspects of control systems</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="factype:CVEnumFineAccessControlType"/>
	  </xs:simpleType>

	  <xs:simpleType name="groupType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the group
					memberships associated with the entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:string">
			      <xs:maxLength value="256"/>
		    </xs:restriction>
	  </xs:simpleType>

	  <xs:simpleType name="handlingControlsType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Indicates the set of
					handling controls that an NPE is authorized to have</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="uiashc:CVEnumUIASHandlingControls"/>
	  </xs:simpleType>
	
	  <xs:simpleType name="isICMemberType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects whether or not the
					entity is a member of the Intelligence Community</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:boolean"/>
	  </xs:simpleType>

	  <xs:simpleType name="icNetworksType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">List of other IC networks or
					domains to which an entity’s digital identifier may be transmitted</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction>
			      <xs:simpleType>
				        <xs:annotation>
					          <xs:documentation xml:lang="en">
						            <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of virtn:CVEnumVIRTNetworkName</xhtml:p>
					          </xs:documentation>
				        </xs:annotation>
				        <xs:list itemType="virtn:CVEnumVIRTNetworkName"/>
			      </xs:simpleType>
			      <xs:minLength value="1"/>
			      <xs:maxLength value="50"/>
		    </xs:restriction>
	  </xs:simpleType>
	
	  <xs:simpleType name="lifeCycleStatusType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the life cycle
					phase in which the entity is operating</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="uiasls:CVEnumUIASLifeCycleStatus"/>
	  </xs:simpleType>

	  <xs:simpleType name="originatingNetworkType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the network or
					domain that the entity’s identity originates from</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="virtn:CVEnumVIRTNetworkName"/>
	  </xs:simpleType>

	  <xs:simpleType name="regionType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the individual
					countries or larger sub-regions such as geographical areas of combatant command
					Areas of Responsibility (AORs), Areas of Interest (AOIs), or State and Non-State
					Actor(s)</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction>
			      <xs:simpleType>
			      	  <xs:annotation>
			      		    <xs:documentation xml:lang="en">
			      			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of mnr:CVEnumMNRegion</xhtml:p>
			      		    </xs:documentation>
			      	  </xs:annotation>
				        <xs:list itemType="mnr:CVEnumMNRegion"/>
			      </xs:simpleType>
			      <xs:minLength value="1"/>
			      <xs:maxLength value="50"/>
		    </xs:restriction>
	  </xs:simpleType>

	  <xs:simpleType name="roleType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the position, job
					or area of responsibility associated with the entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  	  <xs:restriction base="role:roleType"/>
	  </xs:simpleType>

	  <xs:simpleType name="topicType">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the particular
					intelligence subject area(s) associated with the entity</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:restriction>
			      <xs:simpleType>
			      	  <xs:annotation>
			      		    <xs:documentation xml:lang="en">
			      			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of mni:CVEnumMNIssue</xhtml:p>
			      		    </xs:documentation>
			      	  </xs:annotation>
				        <xs:list itemType="mni:CVEnumMNIssue"/>
			      </xs:simpleType>
			      <xs:minLength value="1"/>
			      <xs:maxLength value="50"/>
		    </xs:restriction>
	  </xs:simpleType>

	  <!-- Attributes -->

	  <xs:attribute name="adminOrganization" type="uias:adminOrganizationType">
	  	  <xs:annotation>
	  		    <xs:documentation xml:lang="en">
	  			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the home
	  				organization of the entity.</xhtml:p>
	  			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that
	  				represents an entity's administrative organization. This is tied to the USAgency
	  				Acronym list for US Agencies and follows an open ended regular expression for
	  				the other five eyes countries</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="auditRoutingOrganization"
                 type="uias:auditRoutingOrganizationType">
	  	  <xs:annotation>
	  		    <xs:documentation xml:lang="en">
	  			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the audit routing
	  				organization of the entity.</xhtml:p>
	  			      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that
	  				represents an entity's audit routing organization. This is tied to the
	  				CVEnumUIASAuditRoutingOrg CVE which is managed by the IC Audit Subcommittee
	  				(ICAS)</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="authorityCategory" type="uias:authorityCategoryType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">This attribute specifies the
	  				authority(ies) under which the entity is authorized to access and/or discover
	  				protected resources</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="aTOStatus" type="uias:ATOStatusType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">This attribute indicates the
	  				Authority to Operate (ATO) status for the non-person entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="aICP" type="uias:aICPType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects whether or not the
	  				entity is an AICP</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="certificateAuthority" type="uias:certificateAuthorityType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the issuing PKI
	  				certificate authority for the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="clearance" type="uias:clearanceType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the clearance or
	  				classification level of the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="countryOfAffiliation" type="uias:countryOfAffiliationType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the citizenship(s)
	  				or affiliation(s) of the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="digitalIdentifier" type="uias:digitalIdentifierType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the DN from the
	  				entity’s PKI certificate</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="dutyOrganization" type="uias:dutyOrganizationType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the assigned
	  				organization of the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="dutyOrganizationUnit" type="uias:dutyOrganizationUnitType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the assigned
	  				organization unit structure of the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="entitySecurityMark" type="uias:entitySecurityMarkType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Classification and handling
	  				of the entity’s digital identifier</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="entityType" type="uias:entityTypeType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the type of the
	  				entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="fineAccessControls" type="uias:fineAccessControlsType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the fine grain
	  				access aspects of control systems</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="group" type="uias:groupType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the group
	  				memberships associated with the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="handlingControls" type="uias:handlingControlsType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Indicates the set of
	  				handling controls that an NPE is authorized to have</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="icNetworks" type="uias:icNetworksType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">List of other IC networks or
	  				domains to which an entity’s digital identifier may be transmitted</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="isICMember" type="uias:isICMemberType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects whether or not the
	  				entity is a member of the Intelligence Community</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="lifecycleStatus" type="uias:lifeCycleStatusType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the life cycle
	  				phase in which the entity is operating</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="originatingNetwork" type="uias:originatingNetworkType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the network or
	  				domain that the entity’s identity originates from</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="region" type="uias:regionType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the individual
	  				countries or larger sub-regions such as geographical areas of combatant command
	  				Areas of Responsibility (AORs), Areas of Interest (AOIs), or State and Non-State
	  				Actor(s)</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="role" type="uias:roleType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the position, job
	  				or area of responsibility associated with the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>

	  <xs:attribute name="topic" type="uias:topicType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the particular
	  				intelligence subject area(s) associated with the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:attribute>


	  <!-- Attribute Groups -->

	  <xs:attributeGroup name="UiasIdentityAttributeGroup">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Group of UIAS Identity Attributes</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:attribute ref="uias:adminOrganization"/>
		    <xs:attribute ref="uias:auditRoutingOrganization"/>
		    <xs:attribute ref="uias:authorityCategory"/>
		    <xs:attribute ref="uias:aTOStatus"/>
		    <xs:attribute ref="uias:aICP"/>
		    <xs:attribute ref="uias:clearance"/>
		    <xs:attribute ref="uias:countryOfAffiliation"/>
		    <xs:attribute ref="uias:digitalIdentifier"/>
		    <xs:attribute ref="uias:dutyOrganization"/>
		    <xs:attribute ref="uias:dutyOrganizationUnit"/>
		    <xs:attribute ref="uias:entitySecurityMark"/>
		    <xs:attribute ref="uias:entityType"/>
		    <xs:attribute ref="uias:fineAccessControls"/>
		    <xs:attribute ref="uias:group"/>
		    <xs:attribute ref="uias:handlingControls"/>
		    <xs:attribute ref="uias:icNetworks"/>
		    <xs:attribute ref="uias:isICMember"/>
		    <xs:attribute ref="uias:lifecycleStatus"/>
		    <xs:attribute ref="uias:region"/>
		    <xs:attribute ref="uias:role"/>
		    <xs:attribute ref="uias:topic"/>
	  </xs:attributeGroup>

	  <xs:attributeGroup name="UiasEnvironmentAttributeGroup">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Group of UIAS Environment Attributes</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
		    <xs:attribute ref="uias:certificateAuthority"/>
		    <xs:attribute ref="uias:originatingNetwork"/>
	  </xs:attributeGroup>

	  <xs:attributeGroup name="UiasAttributeGroup">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Group of UIAS Attributes</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
		    <xs:attributeGroup ref="uias:UiasIdentityAttributeGroup"/>
		    <xs:attributeGroup ref="uias:UiasEnvironmentAttributeGroup"/>
	  </xs:attributeGroup>


	  <!-- Elements -->

	  <xs:element name="AdminOrganization" type="uias:adminOrganizationType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the home
					organization of the entity.</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that
					represents an entity's administrative organization. This is tied to the USAgency
					Acronym list for US Agencies and follows an open ended regular expression for
					the other five eyes countries</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:element>
	
	  <xs:element name="AuditRoutingOrganization"
               type="uias:auditRoutingOrganizationType">
		    <xs:annotation>
			      <xs:documentation xml:lang="en">
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Reflects the audit routing
					organization of the entity.</xhtml:p>
				        <xhtml:p ism:ownerProducer="USA" ism:classification="U">Contains the token that
					represents an entity's audit routing organization. This is tied to the
					CVEnumUIASAuditRoutingOrg CVE which is managed by the IC Audit Subcommittee
					(ICAS)</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
	  </xs:element>

	  <xs:element name="AuthorityCategory" type="uias:authorityCategoryType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">This attribute specifies the
	  				authority(ies) under which the entity is authorized to access and/or discover
	  				protected resources</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="ATOStatus" type="uias:ATOStatusType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">This attribute indicates the
	  				Authority to Operate (ATO) status for the non-person entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="AICP" type="uias:aICPType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects whether or not the
	  				entity is an AICP</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="CertificateAuthority" type="uias:certificateAuthorityType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the issuing PKI
	  				certificate authority for the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="Clearance" type="uias:clearanceType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the clearance or
	  				classification level of the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="CountryOfAffiliation" type="uias:countryOfAffiliationType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the citizenship(s)
	  				or affiliation(s) of the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="DigitalIdentifier" type="uias:digitalIdentifierType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the DN from the
	  				entity’s PKI certificate</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="DutyOrganization" type="uias:dutyOrganizationType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the assigned
	  				organization of the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="DutyOrganizationUnit" type="uias:dutyOrganizationUnitType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the assigned
	  				organization unit structure of the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="EntitySecurityMark" type="uias:entitySecurityMarkType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Classification and handling
	  				of the entity’s digital identifier</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="EntityType" type="uias:entityTypeType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the type of the
	  				entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="FineAccessControls" type="uias:fineAccessControlsType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the fine grain
	  				access aspects of control systems</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="Group" type="uias:groupType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the group
	  				memberships associated with the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="HandlingControls" type="uias:handlingControlsType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA"> Indicates the set of
	  				handling controls that an NPE is authorized to have</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="IcNetworks" type="uias:icNetworksType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">List of other IC networks or
	  				domains to which an entity’s digital identifier may be transmitted</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="IsICMember" type="uias:isICMemberType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects whether or not the
	  				entity is a member of the Intelligence Community</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="LifecycleStatus" type="uias:lifeCycleStatusType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the life cycle
	  				phase in which the entity is operating</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="OriginatingNetwork" type="uias:originatingNetworkType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Reflects the network or
	  				domain that the entity’s identity originates from</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="Region" type="uias:regionType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the individual
	  				countries or larger sub-regions such as geographical areas of combatant command
	  				Areas of Responsibility (AORs), Areas of Interest (AOIs), or State and Non-State
	  				Actor(s)</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="Role" type="uias:roleType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the position, job
	  				or area of responsibility associated with the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>

	  <xs:element name="Topic" type="uias:topicType">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Indicates the particular
	  				intelligence subject area(s) associated with the entity</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
	  </xs:element>


	  <!-- Element Groups -->

	  <xs:group name="UiasIdentityElementGroup">
		    <xs:annotation>
			      <xs:documentation>
				        <xhtml:p ism:classification="U" ism:ownerProducer="USA">Group of UIAS Identity Elements</xhtml:p>
			      </xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element ref="uias:AdminOrganization"/>
		    	  <xs:element ref="uias:AuditRoutingOrganization"/>
			      <xs:element ref="uias:AuthorityCategory"/>
			      <xs:element ref="uias:ATOStatus"/>
			      <xs:element ref="uias:AICP"/>
			      <xs:element ref="uias:Clearance"/>
			      <xs:element ref="uias:CountryOfAffiliation"/>
			      <xs:element ref="uias:DigitalIdentifier"/>
			      <xs:element ref="uias:DutyOrganization"/>
			      <xs:element ref="uias:DutyOrganizationUnit"/>
			      <xs:element ref="uias:EntitySecurityMark"/>
			      <xs:element ref="uias:EntityType"/>
			      <xs:element ref="uias:FineAccessControls"/>
			      <xs:element ref="uias:Group"/>
			      <xs:element ref="uias:HandlingControls"/>
			      <xs:element ref="uias:IcNetworks"/>
			      <xs:element ref="uias:IsICMember"/>
			      <xs:element ref="uias:LifecycleStatus"/>
			      <xs:element ref="uias:Region"/>
			      <xs:element ref="uias:Role"/>
			      <xs:element ref="uias:Topic"/>
		    </xs:sequence>
	  </xs:group>

	  <xs:group name="UiasEnvironmentElementGroup">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Group of UIAS Environment Elements</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
		    <xs:sequence>
			      <xs:element ref="uias:CertificateAuthority"/>
			      <xs:element ref="uias:OriginatingNetwork"/>
		    </xs:sequence>
	  </xs:group>

	  <xs:group name="UiasElementGroup">
	  	  <xs:annotation>
	  		    <xs:documentation>
	  			      <xhtml:p ism:classification="U" ism:ownerProducer="USA">Group of UIAS Elements</xhtml:p>
	  		    </xs:documentation>
	  	  </xs:annotation>
		    <xs:sequence>
			      <xs:group ref="uias:UiasIdentityElementGroup"/>
			      <xs:group ref="uias:UiasEnvironmentElementGroup"/>
		    </xs:sequence>
	  </xs:group>

	  <xs:annotation>
		    <xs:documentation>
			      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			      <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				        <xhtml:caption>Change History</xhtml:caption>
				        <xhtml:thead>
					          <xhtml:tr>
						            <th>Version</th>
						            <th>Date</th>
						            <th>By</th>
						            <th>Description</th>
					          </xhtml:tr>
				        </xhtml:thead>
				        <xhtml:tbody>
					          <xhtml:tr>
						            <xhtml:td>2016-SEP</xhtml:td>
						            <xhtml:td>2016-02-17</xhtml:td>
						            <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
						            <xhtml:td>
							              <xhtml:ul>
								                <xhtml:li ism:ownerProducer="USA" ism:classification="U"> The schema
									change logs will no longer be maintained as of the 2016-SEP
									release. The existing change logs will only serve as legacy
									information. For changes to schema as of and after 2016-SEP,
									reference the change history in the DES.</xhtml:li>
							              </xhtml:ul>
						            </xhtml:td>
					          </xhtml:tr>
				        </xhtml:tbody>
			      </xhtml:table>
		    </xs:documentation>
	  </xs:annotation>
</xs:schema>
